


<div class="row">
  <div class="col-sm-6">
    <h1>Tareas</h1>
  </div>

  <div class="col-sm-6 text-right">
  <%= link_to new_tarea_path, class: 'btn btn-primary' do %>
    Add New Tarea
  <% end %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
    

            <th>Descripcion</th>
            <th>Criticidad</th>
            <th>Otros</th>
            
          <th></th>
        
      </tr>
    </thead>

    <tbody>
      <% @tareas.each do |tarea| %>
        <%= content_tag :tr, id: dom_id(tarea), class: dom_class(tarea) do %>
          

                      <td><%= tarea.descripcion %></td>
                      <td><%= tarea.criticidad %></td>
                      <td><%= tarea.otros %></td>
          
          
            <td><%= link_to 'Show', tarea %></td>
          
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
