<div class="page-header">
  <%= link_to tareas_path, class: 'btn btn-default' do %>
    All Tareas
  <% end %>
  <%= link_to edit_tarea_path(@tarea), class: 'btn btn-primary' do %>
    Edit
  <% end %>
  <h1>Show tarea</h1>
</div>

<dl class="dl-horizontal">
  <dt>Descripcion:</dt>
  <dd><%= @tarea.descripcion %></dd>

  <dt>Criticidad:</dt>
  <dd><%= @tarea.criticidad %></dd>

  <dt>Otros:</dt>
  <dd><%= @tarea.otros %></dd>

</dl>
