


<div class="row">
  <div class="col-sm-6">
    <h1>Aprs</h1>
  </div>

  <div class="col-sm-6 text-right">
  <%= link_to new_apr_path, class: 'btn btn-primary' do %>
    Add New Apr
  <% end %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
    

            <th>Nombre</th>
            <th>Rut</th>
            <th>Cargo</th>
            <th>Año ingreso</th>
            <th>Otros</th>
            
          <th></th>
        
      </tr>
    </thead>

    <tbody>
      <% @aprs.each do |apr| %>
        <%= content_tag :tr, id: dom_id(apr), class: dom_class(apr) do %>
          

                      <td><%= apr.nombre %></td>
                      <td><%= apr.rut %></td>
                      <td><%= apr.cargo %></td>
                      <td><%= apr.año_ingreso %></td>
                      <td><%= apr.otros %></td>
          
          
            <td><%= link_to 'Show', apr %></td>
          
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
