


<div class="row">

  <div class="col-sm-6">
    <h1>Checklist despacho camiones</h1>
  </div>


  <div class="col-sm-6 text-right">
  <%= link_to new_check_list_despacho_camion_path, class: 'btn btn-primary' do %>
    Agregar Check list despacho camion
  <% end %>
  </div>
</div>

<div class="alert alert-info">
  <strong>Camiones despachados hoy:</strong> <%= @checklists_hoy %>
</div>
<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>


            <th>Fecha</th>
            <th>Inspector</th>
            <th>Patente</th>
            <th>Producto</th>
            <th>Cantidad</th>
            <th>Limpieza del saco</th>
            <th>Armado correcto del pallet</th>
            <th>Sacos rotos</th>
            <th>Tipo de producto correcto</th>
            <th>Cantidad de pallets o sacos</th>
            <th>Correcto enfundado</th>
            <th>Comentarios</th>

          <th></th>

      </tr>
    </thead>

    <tbody>
      <% @check_list_despacho_camions.each do |check_list_despacho_camion| %>
        <%= content_tag :tr, id: dom_id(check_list_despacho_camion), class: dom_class(check_list_despacho_camion) do %>


                      <td><%= check_list_despacho_camion.fecha %></td>
                      <td><%= check_list_despacho_camion.inspector %></td>
                      <td><%= check_list_despacho_camion.patente %></td>
                      <td><%= check_list_despacho_camion.producto %></td>
                      <td><%= check_list_despacho_camion.cantidad %></td>
                      <td class="text-center"><%= check_list_despacho_camion.limpieza_del_saco ? '✅' : '❌' %></td>
                      <td class="text-center"><%= check_list_despacho_camion.armado_correcto_del_pallet ? '✅' : '❌' %></td>
                      <td class="text-center"><%= check_list_despacho_camion.sacos_rotos ? '✅' : '❌' %></td>
                      <td class="text-center"><%= check_list_despacho_camion.tipo_de_producto_correcto ? '✅' : '❌' %></td>
                      <td class="text-center"><%= check_list_despacho_camion.cantidad_de_pallets_o_sacos ? '✅' : '❌' %></td>
                      <td class="text-center"><%= check_list_despacho_camion.correcto_enfundado ? '✅' : '❌' %></td>
                      <td><%= check_list_despacho_camion.comentarios %></td>


            <td class="text-center">
  <%= link_to check_list_despacho_camion, class: "btn btn-sm btn-outline-secondary", title: "Ver detalle" do %>
    <i class="fa fa-eye"></i>
  <% end %>
</td>


        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
