
<div class="row">
  <div class="col-sm-12">
    <h1>Tareas</h1>
     <br>
  </div>
</div>

<% [['Programado', @mantenimientos_programados], ['En ejecución', @mantenimientos_en_ejecucion], ['Terminado', @mantenimientos_terminados], ['Cancelado', @mantenimientos_cancelados]].each do |estado, mantenimientos| %>
  <h2><%= estado %></h2>

  <div class="table-responsive">
    <table class="table table-striped table-bordered table-hover">
      <thead>
        <tr>
          <th>Fecha prog</th>
          <th>Fecha ejec</th>
          <th>Area</th>
          <th>Tarea</th>
          <th>Clase</th>
          <th>Departamento</th>
          <th>Estado</th>
          <th>Observacion</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% mantenimientos.each do |mantenimiento| %>
          <%= content_tag :tr, id: dom_id(mantenimiento), class: dom_class(mantenimiento) do %>
            <td><%= mantenimiento.fecha_programada %></td>
            <td><%= mantenimiento.fecha_ejecucion %></td>
            <td><%= mantenimiento.area %></td>
            <td><%= mantenimiento.tarea %></td>
            <td><%= mantenimiento.clase %></td>
            <td><%= mantenimiento.departamento %></td>
            <td><%= mantenimiento.estado %></td>
            <td><%= mantenimiento.observacion %></td>
            <td class="text-center">
              <button type="button" class="btn btn-sm btn-secondary command-edit shadow p-1 rounded">
                <%= link_to "", mantenimiento, class: 'fa fa-eye fa-fw text-light'%>
              </button>
              <button type="button" class="btn btn-sm btn-success command-edit shadow p-1 rounded">
                <%= link_to "", edit_mantenimiento_path(mantenimiento), class: "fa fa-edit fa-fw text-light"%>
              </button>
            </td>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>

<div class="row mt-3">
  <div class="col-sm-12 text-right">
    <%= link_to 'Agregar nueva tarea', new_mantenimiento_path, class: 'btn btn-primary' %>
  </div>
</div>
