


<div class="row">
  <div class="col-sm-6">
    <h1>Puzolanas</h1>
  </div>

  <div class="col-sm-6 text-right">
  <%= link_to new_puzolana_path, class: 'btn btn-primary' do %>
    Add New Puzolana
  <% end %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
    

            <th>C403bc02 tensado cinta</th>
            <th>C403bc02 alineamiento</th>
            <th>C403bc02 polines</th>
            <th>C403bc02 fugas</th>
            <th>C403bc03 tensado cinta</th>
            <th>C403bc03 alineamiento</th>
            <th>C403bc03 polines</th>
            <th>C403bc03 fugas</th>
            <th>C403bc04 tensado cinta</th>
            <th>C403bc04 alineamiento</th>
            <th>C403bc04 polines</th>
            <th>C403bc04 fugas</th>
            <th>C403bc05 tensado cinta</th>
            <th>C403bc05 alineamiento</th>
            <th>C403bc05 polines</th>
            <th>C403bc05 fugas</th>
            <th>C403bc06 tensado cinta</th>
            <th>C403bc06 alineamiento</th>
            <th>C403bc06 polines</th>
            <th>C403bc06 fugas</th>
            
          <th></th>
        
      </tr>
    </thead>

    <tbody>
      <% @puzolanas.each do |puzolana| %>
        <%= content_tag :tr, id: dom_id(puzolana), class: dom_class(puzolana) do %>
          

                      <td><%= puzolana.C403BC02_tensado_cinta %></td>
                      <td><%= puzolana.C403BC02_alineamiento %></td>
                      <td><%= puzolana.C403BC02_Polines %></td>
                      <td><%= puzolana.C403BC02_fugas %></td>
                      <td><%= puzolana.C403BC03_tensado_cinta %></td>
                      <td><%= puzolana.C403BC03_alineamiento %></td>
                      <td><%= puzolana.C403BC03_Polines %></td>
                      <td><%= puzolana.C403BC03_fugas %></td>
                      <td><%= puzolana.C403BC04_tensado_cinta %></td>
                      <td><%= puzolana.C403BC04_alineamiento %></td>
                      <td><%= puzolana.C403BC04_Polines %></td>
                      <td><%= puzolana.C403BC04_fugas %></td>
                      <td><%= puzolana.C403BC05_tensado_cinta %></td>
                      <td><%= puzolana.C403BC05_alineamiento %></td>
                      <td><%= puzolana.C403BC05_Polines %></td>
                      <td><%= puzolana.C403BC05_fugas %></td>
                      <td><%= puzolana.C403BC06_tensado_cinta %></td>
                      <td><%= puzolana.C403BC06_alineamiento %></td>
                      <td><%= puzolana.C403BC06_polines %></td>
                      <td><%= puzolana.C403BC06_fugas %></td>
          
          
            <td><%= link_to 'Show', puzolana %></td>
          
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
