<div class="page-header">
  <%= link_to puzolanas_path, class: 'btn btn-default' do %>
    All Puzolanas
  <% end %>
  <%= link_to edit_puzolana_path(@puzolana), class: 'btn btn-primary' do %>
    Edit
  <% end %>
  <h1>Show puzolana</h1>
</div>

<dl class="dl-horizontal">
  <dt>C403bc02 tensado cinta:</dt>
  <dd><%= @puzolana.C403BC02_tensado_cinta %></dd>

  <dt>C403bc02 alineamiento:</dt>
  <dd><%= @puzolana.C403BC02_alineamiento %></dd>

  <dt>C403bc02 polines:</dt>
  <dd><%= @puzolana.C403BC02_Polines %></dd>

  <dt>C403bc02 fugas:</dt>
  <dd><%= @puzolana.C403BC02_fugas %></dd>

  <dt>C403bc03 tensado cinta:</dt>
  <dd><%= @puzolana.C403BC03_tensado_cinta %></dd>

  <dt>C403bc03 alineamiento:</dt>
  <dd><%= @puzolana.C403BC03_alineamiento %></dd>

  <dt>C403bc03 polines:</dt>
  <dd><%= @puzolana.C403BC03_Polines %></dd>

  <dt>C403bc03 fugas:</dt>
  <dd><%= @puzolana.C403BC03_fugas %></dd>

  <dt>C403bc04 tensado cinta:</dt>
  <dd><%= @puzolana.C403BC04_tensado_cinta %></dd>

  <dt>C403bc04 alineamiento:</dt>
  <dd><%= @puzolana.C403BC04_alineamiento %></dd>

  <dt>C403bc04 polines:</dt>
  <dd><%= @puzolana.C403BC04_Polines %></dd>

  <dt>C403bc04 fugas:</dt>
  <dd><%= @puzolana.C403BC04_fugas %></dd>

  <dt>C403bc05 tensado cinta:</dt>
  <dd><%= @puzolana.C403BC05_tensado_cinta %></dd>

  <dt>C403bc05 alineamiento:</dt>
  <dd><%= @puzolana.C403BC05_alineamiento %></dd>

  <dt>C403bc05 polines:</dt>
  <dd><%= @puzolana.C403BC05_Polines %></dd>

  <dt>C403bc05 fugas:</dt>
  <dd><%= @puzolana.C403BC05_fugas %></dd>

  <dt>C403bc06 tensado cinta:</dt>
  <dd><%= @puzolana.C403BC06_tensado_cinta %></dd>

  <dt>C403bc06 alineamiento:</dt>
  <dd><%= @puzolana.C403BC06_alineamiento %></dd>

  <dt>C403bc06 polines:</dt>
  <dd><%= @puzolana.C403BC06_polines %></dd>

  <dt>C403bc06 fugas:</dt>
  <dd><%= @puzolana.C403BC06_fugas %></dd>

</dl>
