<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Capacidad ocupada de canchas </title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #4CAF50;
            color: white;
        }

   .chart {
  font-family: 'Arial', sans-serif;
  margin: 20px auto;
}

.chart div {
  background-color: #3498db; /* A pleasant blue shade */
  color: white; /* Improved contrast for readability */
  margin: 8px 0; /* More space between bars */
  padding: 10px; /* Increased padding for a better visual effect */
  font-size: 14px; /* Larger font for readability */
  border-radius: 5px; /* Rounded corners for a modern look */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
  transition: all 0.3s ease; /* Smooth transition for hover effects */
  text-align: left; /* Align text to the left */

  display: block; /* Makes div behave like a block element */
}

.chart div:hover {
  background-color: #2980b9; /* Darker shade on hover for interaction */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Enhanced shadow on hover */
}


    </style>




</head>
<body>
    <h1>Capacidad ocupada de canchas</h1>

<div class="chart">
  <% if @estado_cancha.quilimari.to_f > 0 %>
  <div style="width: <%= (@estado_cancha.quilimari.to_f / 140) * 100 %>%;">Quilimari: <%= @estado_cancha.quilimari %>%</div>
  <% end %>
  <% if @estado_cancha.cachinales.to_f > 0 %>
  <div style="width: <%= (@estado_cancha.cachinales.to_f / 140) * 100 %>%;">Cachinales: <%= @estado_cancha.cachinales %>%</div>
  <% end %>
  <% if @estado_cancha.ñilhue.to_f > 0 %>
  <div style="width: <%= (@estado_cancha.ñilhue.to_f / 140) * 100 %>%;">Ñilhue: <%= @estado_cancha.ñilhue %>%</div>
  <% end %>
  <% if @estado_cancha.caolin.to_f > 0 %>
  <div style="width: <%= (@estado_cancha.caolin.to_f / 140) * 100 %>%;">Caolin: <%= @estado_cancha.caolin %>%</div>
  <% end %>
  <% if @estado_cancha.fierro.to_f > 0 %>
  <div style="width: <%= (@estado_cancha.fierro.to_f / 140) * 100 %>%;">Fierro: <%= @estado_cancha.fierro %>%</div>
  <% end %>
  <% if @estado_cancha.puzolana.to_f > 0 %>
  <div style="width: <%= (@estado_cancha.puzolana.to_f / 140) * 100 %>%;">Puzolana: <%= @estado_cancha.puzolana %>%</div>
  <% end %>
  <% if @estado_cancha.tunga.to_f > 0 %>
  <div style="width: <%= (@estado_cancha.tunga.to_f / 140) * 100 %>%;">Tunga: <%= @estado_cancha.tunga %>%</div>
  <% end %>
  <% if @estado_cancha.ceniza.to_f > 0 %>
  <div style="width: <%= (@estado_cancha.ceniza.to_f / 140) * 100 %>%;">Ceniza: <%= @estado_cancha.ceniza %>%</div>
  <% end %>
  <% if @estado_cancha.yeso.to_f > 0 %>
  <div style="width: <%= (@estado_cancha.yeso.to_f / 140) * 100 %>%;">Yeso: <%= @estado_cancha.yeso %>%</div>
  <% end %>
  <% if @estado_cancha.conchuela.to_f > 0 %>
  <div style="width: <%= (@estado_cancha.conchuela.to_f / 140) * 100 %>%;">Conchuela: <%= @estado_cancha.conchuela %>%</div>
  <% end %>
  <% if @estado_cancha.san_pedro.to_f > 0 %>
  <div style="width: <%= (@estado_cancha.san_pedro.to_f / 140) * 100 %>%;">San Pedro: <%= @estado_cancha.san_pedro %>%</div>
  <% end %>
</div>




    <table>
        <thead>
            <tr>
                <th>Quilimari</th>
                <th>Cachinales</th>
                <th>Ñilhue</th>
                <th>Caolin</th>
                <th>Fierro</th>
                <th>Puzolana</th>
                <th>Tunga</th>
                <th>Ceniza</th>
                <th>Yeso</th>
                <th>Conchuela</th>
                <th>San Pedro</th>


            </tr>
        </thead>
        <tbody>

                <tr>
                    <td><%= @estado_cancha.quilimari %></td>
                    <td><%= @estado_cancha.cachinales %></td>
                    <td><%= @estado_cancha.ñilhue %></td>
                    <td><%= @estado_cancha.caolin %></td>
                    <td><%= @estado_cancha.fierro %></td>
                    <td><%= @estado_cancha.puzolana %></td>
                    <td><%= @estado_cancha.tunga %></td>
                    <td><%= @estado_cancha.ceniza %></td>
                    <td><%= @estado_cancha.yeso %></td>
                    <td><%= @estado_cancha.conchuela %></td>
                    <td><%= @estado_cancha.san_pedro %></td>


                </tr>

        </tbody>
    </table>
</body>
</html>
