<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Informe Diario</title>
  <style>
    * {
      box-sizing: border-box;
    }

    .row {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      margin: 0 -15px; /* Adjust the margin as needed */
    }

    .column {
      padding: 0 15px; /* Adjust the padding as needed */
      flex: 40%;
    }

    /* If the screen size is less than 600px, set the flex-basis of .column to 100% */
    @media screen and (max-width: 600px) {
      .column {
        flex: 100%;
      }
    }

    table {
      width: 100%;
      border-collapse: collapse;
    }

    th, td {
      text-align: left;
      padding: 8px;
      border: 1px solid #ddd;
    }

    th {
      background-color: #f2f2f2;
    }

    .header {
    background-color: #d9edf7; /* Light blue; adjust the color as needed */
  }
  </style>
</head>
<body>

<div class="row">
  <div class="column">
<table>
  <tr class="header">
    <th colspan="2"><b>Stock Sacos de producto terminado 25kgs</b></th>
  </tr>
  <tr>
    <td>Sacos Especial sin funda</td>
    <td> <%= @informes.especial_sin_funda %></td>
  </tr>
  <tr>
    <td>Sacos Especial enfundado</td>
    <td> <%= @informes.especial_enfundado %></td>
  </tr>
  <tr>
    <td>Sacos Especial Soluble</td>
    <td> <%= @informes.especial_soluble %></td>
  </tr>

  <tr class="header">
    <td>Total especial sacos</td>
    <td><%= @informes.especial_sin_funda + @informes.especial_soluble + @informes.especial_enfundado %></td>
  </tr>
  <tr>
    <td>Sacos extra sin funda</td>
    <td> <%= @informes.extra_sin_funda %></td>
  </tr>
  <tr>
    <td>Sacos extra Soluble</td>
    <td> <%= @informes.extra_soluble %></td>
  </tr>
  <tr>
    <td>Sacos extra enfundado</td>
    <td> <%= @informes.extra_enfundado %></td>
  </tr>
  <tr class="header">
    <td>Total extra sacos</td>
    <td><%= @informes.extra_sin_funda + @informes.extra_soluble + @informes.extra_enfundado %></td>
  </tr>
</table>
</div>
<div class="column">
<table>
  <tr class="header">
    <th colspan="2"><b>Stock bigbag de producto terminado</b></th>
  </tr>
  <tr>
    <td>Big Bag extra sin peba</td>
    <td> <%= @informes.big_bag_extra_sin_peba %></td>
  </tr>
  <tr>
    <td>Bigbag extra con peba</td>
    <td> <%= @informes.big_bag_extra_con_peba %></td>
  </tr>

  <tr class="header">
    <td>Total Stock bigbag extra</td>
    <td><%= @informes.big_bag_extra_sin_peba + @informes.big_bag_extra_con_peba  %></td>
  </tr>
  <tr>
    <td>Bigbag especial sin peba</td>
    <td> <%= @informes.big_bag_especial_sin_peba %></td>
  </tr>
  <tr>
    <td>Bigbag especial con peba</td>
    <td> <%= @informes.big_bag_especial_con_peba %></td>
  </tr>

  <tr class="header">
    <td>Total Stock bigbag especial </td>
    <td><%= @informes.big_bag_especial_sin_peba + @informes.big_bag_especial_con_peba  %></td>
  </tr>
</table>
</div>
</div>
<br>

<div class="row">
  <div class="column">
<table>
  <tr class="header">
    <th colspan="2"><b>Stock insumos </b></th>
  </tr>
  <tr>
    <td>Envases propa especial</td>
    <td> <%= @informes.envases_especial %></td>
  </tr>

  <tr>
    <td>Envases propa especial soluble</td>
    <td> <%= @informes.envase_especial_soluble %></td>
  </tr>

  <tr>
    <td>Envases propa extra</td>
    <td> <%= @informes.envases_extra %></td>
  </tr>

<tr>
    <td>Envases propa extra soluble</td>
    <td> <%= @informes.envase_extra_soluble %></td>
  </tr>

  <tr>
    <td>Envases Bigbag sin peba</td>
    <td> <%= @informes.envases_big_bag %></td>
  </tr>

<tr>
    <td>Envases Bigbag con peba</td>
    <td> <%= @informes.envase_bigbag_con_peba %></td>
  </tr>

  <tr>
    <td>Pallets buenos</td>
    <td> <%= @informes.pallets_buenos %></td>
  </tr>
<tr>
    <td>Bobinas de plastificado</td>
    <td> <%= @informes.bobinas_plastificado %></td>
  </tr>

</table>
</div>

<div class="column">
<table>
  <tr class="header">
    <th colspan="2"><b>Stock insumos</b></th>
  </tr>
  <tr>
    <td>Fifo 1 especial</td>
    <td> <%= @informes.fifo_1_especial %></td>
  </tr>
  <tr>
    <td>Fifo 2 especial</td>
    <td> <%= @informes.fifo_2_especial %></td>
  </tr>
  <tr>
    <td>Fifo 3 especial</td>
    <td> <%= @informes.fifo_3_especial %></td>
  </tr>
  <tr>
    <td>Fifo 4 especial</td>
    <td> <%= @informes.fifo_4_especial %></td>
  </tr>
  <tr>
    <td>Fifo 5 especial</td>
    <td> <%= @informes.fifo_5_especial %></td>
  </tr>
  <tr>
    <td>Fifo 6 especial</td>
    <td> <%= @informes.fifo_6_especial %></td>
  </tr>

  <tr>
    <td>Fifo 7 especial</td>
    <td> <%= @informes.fifo_7_especial %></td>
  </tr>
  <tr>
    <td>Fifo 8 extra</td>
    <td> <%= @informes.fifo_8_extra %></td>
  </tr>
  <tr>
    <td>Fifa 9 extra</td>
    <td> <%= @informes.fifo_9_extra %></td>
  </tr>

</table>
</div>


</div>

<br>
<div class="row">
 <div class="column">
<table>
  <tr class="header">
    <th>Stock Diarios</th>
    <th>Especial</th>
    <th>Extra</th>
    <th>Novedades</th>
  </tr>
  <!-- Production times and stocks -->
  <tr>
    <td>
      <%= @informes.inicio_produccion.strftime('%H:%M') %> -
      <%= @informes.termino_produccion.strftime('%H:%M') %>
      <%= @informes.fecha.strftime('%d/%m') %>
    </td>
    <td><%= @informes.produccion_especial %></td>
    <td><%= @informes.produccion_extra %></td>
     <td><%= @informes.observaciones %></td>
  </tr>
  <tr>
    <td>
      <%= @inf.inicio_produccion.strftime('%H:%M') %> -
      <%= @inf.termino_produccion.strftime('%H:%M') %>
      <%= @inf.fecha.strftime('%d/%m') %>
    </td>
    <td><%= @inf.produccion_especial %></td>
    <td><%= @inf.produccion_extra %></td>
     <td><%= @inf.observaciones %></td>
  </tr>
  <tr>
    <td>
      <%= @info.inicio_produccion.strftime('%H:%M') %> -
      <%= @info.termino_produccion.strftime('%H:%M') %>
      <%= @info.fecha.strftime('%d/%m') %>
    </td>
    <td><%= @info.produccion_especial %></td>
    <td><%= @info.produccion_extra %></td>
     <td><%= @info.observaciones %></td>
  </tr>


</table>
</div>
</div>



</body>
</html>
