




<div class="row">
  <div class="col-sm-6">
    <h1>Estado de canchas</h1>
  </div>

  <div class="col-sm-12 text-right">
<%= bar_chart @chart_data, max: 140, colors: ["#FF0000", "#00FF00", "#0000FF", "#FFFF00", "#FF00FF", "#00FFFF", "#C0C0C0", "#808080", "#800000", "#808000"] %>
<br>
  <%= link_to new_estado_cancha_path, class: 'btn btn-primary' do %>
    Agregar Estado cancha
  <% end %>


  </div>
</div>

<div class="table-responsive">
 <table id="myTable" class="table table-striped table-bordered table-hover">
    <thead>
      <tr>

            <th>Fecha</th>
            <th>Quilimari</th>
            <th>Cachinales</th>
            <th>ñilhue</th>
            <th>Caolin</th>
            <th>Fierro</th>
            <th>Puzolana</th>
            <th>Tunga</th>
            <th>Ceniza</th>
            <th>Yeso</th>
            <th>Conchuela</th>
            <th>San pedro</th>
            <th>Observaciones</th>



      </tr>
    </thead>

    <tbody>
      <% @estado_canchas.each do |estado_cancha| %>
        <%= content_tag :tr, id: dom_id(estado_cancha), class: dom_class(estado_cancha) do %>


                      <td><%= estado_cancha.created_at.in_time_zone('Santiago').strftime("%Y-%m-%d") %></td>
                      <td><%= estado_cancha.quilimari %></td>
                      <td><%= estado_cancha.cachinales %></td>
                      <td><%= estado_cancha.ñilhue %></td>
                      <td><%= estado_cancha.caolin %></td>
                      <td><%= estado_cancha.fierro %></td>
                      <td><%= estado_cancha.puzolana %></td>
                      <td><%= estado_cancha.tunga %></td>
                      <td><%= estado_cancha.ceniza %></td>
                      <td><%= estado_cancha.yeso %></td>
                      <td><%= estado_cancha.conchuela %></td>
                      <td><%= estado_cancha.san_pedro %></td>
                      <td><%= estado_cancha.observaciones %></td>




        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
