<div class="page-header">
  <%= link_to estado_canchas_path, class: 'btn btn-default' do %>
    All Estado_canchas
  <% end %>
  <%= link_to edit_estado_cancha_path(@estado_cancha), class: 'btn btn-primary' do %>
    Edit
  <% end %>
  <h1>Show estado_cancha</h1>
</div>

<dl class="dl-horizontal">
  <dt>Quilimari:</dt>
  <dd><%= @estado_cancha.quilimari %></dd>

  <dt>Cachinales:</dt>
  <dd><%= @estado_cancha.cachinales %></dd>

  <dt>ñilhue:</dt>
  <dd><%= @estado_cancha.ñilhue %></dd>

  <dt>Caolin:</dt>
  <dd><%= @estado_cancha.caolin %></dd>

  <dt>Fierro:</dt>
  <dd><%= @estado_cancha.fierro %></dd>

  <dt>Puzolana:</dt>
  <dd><%= @estado_cancha.puzolana %></dd>

  <dt>Tunga:</dt>
  <dd><%= @estado_cancha.tunga %></dd>

  <dt>Ceniza:</dt>
  <dd><%= @estado_cancha.ceniza %></dd>

  <dt>Yeso:</dt>
  <dd><%= @estado_cancha.yeso %></dd>

  <dt>Conchuela:</dt>
  <dd><%= @estado_cancha.conchuela %></dd>

  <dt>San pedro:</dt>
  <dd><%= @estado_cancha.san_pedro %></dd>

  <dt>Observaciones:</dt>
  <dd><%= @estado_cancha.observaciones %></dd>

</dl>
