


<div class="row">
  <div class="col-sm-6">
    <h1>Camiones en planta</h1>
  </div>

  <div class="col-sm-6 text-right">
  <%= link_to new_ptmtruck_path, class: 'btn btn-primary' do %>
    Nuevo Camión
  <% end %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
  <tr>
    <th>Fecha</th>
    <th>Patente</th>
    <th>Mmpp</th>
    <th>Ingreso</th>
    <th>Salida</th>
    <th>Causa</th>
    <th>Otros</th>
    <th></th>
  </tr>
</thead>

<tbody>
  <% @ptmtrucks.each do |ptmtruck| %>
    <%= content_tag :tr, id: dom_id(ptmtruck), class: dom_class(ptmtruck) do %>
      <td><%= ptmtruck.created_at.to_date %></td>
      <td><%= ptmtruck.patente %></td>
      <td><%= ptmtruck.mmpp %></td>
      <td><%= ptmtruck.ingreso&.strftime("%H:%M") %></td>
      <td><%= ptmtruck.salida&.strftime("%H:%M") %></td>
      <td><%= ptmtruck.causa %></td>
      <td><%= ptmtruck.otros %></td>
      <td>
        <%= link_to edit_ptmtruck_path(ptmtruck), class: "btn btn-sm btn-success shadow p-1 rounded" do %>
          <i class="fa fa-edit fa-fw text-light"></i>
        <% end %>
      </td>
    <% end %>
  <% end %>
</tbody>
  </table>
</div>

<div class="row">
  <div class="col-sm-6">
    <h1>Ultimos registros</h1>
  </div>
 <div class="col-sm-6 text-right">
  <%= link_to historic_path, class: 'btn btn-primary' do %>
    Histórico
  <% end %>
  </div>

</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
  <tr>
    <th>Fecha</th>
    <th>Patente</th>
    <th>Mmpp</th>
    <th>Ingreso</th>
    <th>Salida</th>
    <th>Min</th>
    <th>Causa</th>
    <th>Otros</th>
  </tr>
</thead>

<tbody>
  <% @ptmtrucks_con_salida.each do |ptmtruck| %>
    <%= content_tag :tr, id: dom_id(ptmtruck), class: dom_class(ptmtruck) do %>
      <td><%= ptmtruck.created_at.to_date.strftime("%d-%m-%Y") %></td>
      <td><%= ptmtruck.patente %></td>
      <td><%= ptmtruck.mmpp %></td>
      <td><%= ptmtruck.ingreso&.strftime("%H:%M") %></td>
      <td><%= ptmtruck.salida&.strftime("%H:%M") %></td>
      <td>
        <% if ptmtruck.ingreso && ptmtruck.salida %>
          <%= ((ptmtruck.salida - ptmtruck.ingreso) / 60).to_i %>
        <% else %>
          -
        <% end %>
      </td>
      <td><%= ptmtruck.causa %></td>
      <td><%= ptmtruck.otros %></td>
    <% end %>
  <% end %>
</tbody>
  </table>
</div>

