


<div class="row">
  <div class="col-sm-6">
    <h1>Camiones</h1>
  </div>

  <div class="col-sm-6 text-right">
  <%= link_to new_truck_path, class: 'btn btn-primary' do %>
    Ingreso Camión
  <% end %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>


            <th>Fecha</th>
            <th>Mmpp</th>
            <th>Tipo</th>
            <th>Llegada</th>
            <th>Llamada</th>
            <th>Salida</th>

          <th></th>

      </tr>
    </thead>

    <tbody>
      <% @trucks.each do |truck| %>
        <%= content_tag :tr, id: dom_id(truck), class: dom_class(truck) do %>


                      <td><%= truck.fecha %></td>
                      <td><%= truck.mmpp.nombre %></td>
                      <td><%= truck.tipo %></td>
                      <td><%= truck.llegada.strftime("%T") %></td>
                      <td><%= truck.llamada.strftime("%T") %></td>
                      <td><%= truck.salida.strftime("%T") %></td>


            <td><%= link_to 'Show', truck %></td>

        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
