


<div class="row">
  <div class="col-sm-6">
    <h1>Camiones en planta</h1>
  </div>

  <div class="col-sm-6 text-right">
  <%= link_to new_truck_path, class: 'btn btn-primary' do %>
    Nuevo Camión
  <% end %>
  </div>
</div>

<table id="" class="table table-striped table-bordered table-hover">

    <thead>
      <tr>


            <th>Fecha</th>
            <th>Patente</th>
            <th>Mmpp</th>
            <th>Tipo</th>
            <th>Llegada</th>


          <th></th>

      </tr>
    </thead>

    <tbody>
      <% @trucks.each do |truck| %>
        <%= content_tag :tr, id: dom_id(truck), class: dom_class(truck) do %>


                      <td><%= truck.fecha %></td>
                      <td><%= truck.patente %></td>
                      <td><%= truck.mmpp.nombre %></td>
                      <td><%= truck.tipo %></td>
                      <td><%= truck.llegada.strftime("%T") %></td>


                      <td class="text-center">


                      <button type="button" class="btn btn-sm btn-success command-edit shadow p-1 rounded">
                      <%= link_to "", edit_truck_path(truck), class: "fa fa-edit fa-fw text-light"%>
                      </button>






                      </td>

        <% end %>
      <% end %>
    </tbody>
  </table>

<br>
  <div class="row">
  <div class="col-sm-6">
    <h1>Ultimos registros</h1>
  </div>
  <div class="col-sm-6 text-right">
  <%= link_to month_path, class: 'btn btn-primary' do %>
    Mes
  <% end %>
  <%= link_to year_path, class: 'btn btn-primary' do %>
    Año
  <% end %>
  <%= link_to trucks_path, class: 'btn btn-primary' do %>
    Histórico
  <% end %>

  <%= link_to "⬇️ xlsx", blank_path(format: :xlsx), class: "btn btn-success" %>

  </div>
</div>

  <table id="" class="table table-striped table-bordered table-hover">
  <thead>
    <tr>


          <th>Fecha</th>
          <th>Patente</th>
          <th>Mmpp</th>
          <th>Tipo</th>
          <th>Llegada</th>
          <th>Salida</th>
          <th>m</th>
          <th>Estado</th>
        <th>Acciones</th>

    </tr>
  </thead>

  <tbody>
    <% @last.each do |truck| %>
      <%= content_tag :tr, id: dom_id(truck), class: dom_class(truck) do %>


                    <td><%= truck.fecha %></td>
                    <td><%= truck.patente %></td>
                    <td><%= truck.mmpp.nombre %></td>
                    <td><%= truck.tipo %></td>
                    <td><%= truck.llegada.strftime("%H:%M") %></td>
                    <td><%= truck.salida.strftime("%H:%M") %></td>

                    <td><%= truck.wait %></td>
                    <td><%= truck.cause %></td>



      <td class="text-center">
      <button type="button" class="btn btn-sm btn-secondary command-edit shadow p-1 rounded">
      <%= link_to "", truck, class: 'fa fa-eye fa-fw text-light'%>
      </button>

      <button type="button" class="btn btn-sm btn-success command-edit shadow p-1 rounded">
      <%= link_to "", edit_truck_path(truck), class: "fa fa-edit fa-fw text-light"%>
      </button>






      </td>

      <% end %>
    <% end %>
  </tbody>
</table>

  <div class="row">
  <div class="col-sm-6">

  </div>
  <div class="col-sm-6 text-right">
  <%= link_to canchas_path, class: 'btn btn-primary' do %>
    Canchas
  <% end %>
  <%= link_to mmpps_path, class: 'btn btn-primary' do %>
    MMPP
  <% end %>
  <%= link_to report_path, class: 'btn btn-primary' do %>
    Reporte
  <% end %>



  </div>
</div>

</div>
