<div class="row mb-4">
  <div class="col-sm-4">
    <%= form_with url: inf_path, method: :get, local: true do |f| %>
      <div class="form-group">
        <label><strong>Seleccionar año</strong></label>
        <%= f.select :year,
                     options_for_select((2018..Time.current.year).to_a.reverse, @year),
                     {}, class: "form-control",
                        onchange: "this.form.submit();" %>
      </div>
    <% end %>
  </div>
</div>





<hr>

<div class="row">
  <div class="col-sm-4">
  <table class="table table-sm table-bordered">
    <thead class="thead-dark">
      <tr>
        <th colspan="2" class="text-center">Resumen general</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <th scope="row">Total de camiones <%= @year %>:</th>
        <td><%= @total_trucks_2025 %></td>
      </tr>
      <tr>
        <th scope="row">Espera ≤ 60 min:</th>
        <td><%= @wait_le_60_count %></td>
      </tr>
      <tr>
        <th scope="row">Espera &gt; 60 min:</th>
        <td><%= @wait_gt_60_count %></td>
      </tr>
    </tbody>
  </table>
</div>


  <div class="col-sm-4">
  <table class="table table-sm table-bordered">
    <thead class="thead-dark">
      <tr>
        <th colspan="2" class="text-center">Conchuela</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <th scope="row">Conchuela total:</th>
        <td><%= @conchuela_total %></td>
      </tr>
      <tr>
        <th scope="row">Conchuela Planos:</th>
        <td><%= @conchuela_planos_total %></td>
      </tr>
    </tbody>
  </table>
</div>


  <div class="col-sm-4">
  <table class="table table-sm table-bordered">
    <thead class="thead-dark">
      <tr>
        <th colspan="2" class="text-center">Planos – métricas</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <th scope="row">Mediana:</th>
        <td><%= @planos_mediana.round(2) %> min</td>
      </tr>
      <tr>
        <th scope="row">Desv. estándar:</th>
        <td><%= @planos_desv_est.round(2) %> min</td>
      </tr>
      <tr>
        <th scope="row">Outliers:</th>
        <td><%= @planos_outliers_count %> %</td>
      </tr>
    </tbody>
  </table>
</div>

</div>

<br>


<br>

<div class="row">
  <div class="col-sm-4">
    <h5>Cumplimiento espera (% total)</h5>
    <% if @wait_pie_data.values.sum.zero? %>
      <p>No hay datos para mostrar.</p>
    <% else %>
      <%= pie_chart @wait_pie_data, legend: "right", height: "300px" %>
    <% end %>
  </div>

  <div class="col-sm-4">
    <h5>Conchuela (% segun tipo)</h5>
    <% if @conchuela_by_tipo.blank? %>
      <p>No hay datos de Conchuela.</p>
    <% else %>
      <%= pie_chart @conchuela_by_tipo, legend: "right", height: "300px" %>
    <% end %>
  </div>

  <div class="col-sm-4">
    <h5>Cumplimiento Espera (% en Planos)</h5>
    <% if (@planos_le_60_count + @planos_gt_60_count).zero? %>
      <p>No hay datos de PLANOS.</p>
    <% else %>
      <%= pie_chart @planos_wait_pie_data, legend: "right", height: "300px" %>
    <% end %>
  </div>
</div>

<br><br>


<div class="row">
  <div class="col-sm-12">
    <h4>Espera promedio mensual por MMPP</h4>
    <% if @avg_wait_by_mmpp_month.blank? %>
      <p>No hay datos para mostrar.</p>
    <% else %>
      <%= line_chart @avg_wait_by_mmpp_month,
                     xtitle: "Fecha",
                     ytitle: "Espera promedio (min)",
                     legend: "bottom" %>
    <% end %>
  </div>
</div>

<br>
<br>
<br>

<div class="row">
  <div class="col-sm-12">
    <h4>Espera promedio mensual por MMPP</h4><br>
<%= bar_chart [
      {name: "Llamado a metre",               data: {"Proceso" => 7}},
      {name: "Traslado hasta Zona Encarpado", data: {"Proceso" => 3}},
      {name: "Desencarpado",                  data: {"Proceso" => 8}},
      {name: "Posicionamiento",               data: {"Proceso" => 1.13}},
      {name: "Bajada de barandas",            data: {"Proceso" => 4.2}},
      {name: "Descarga",                      data: {"Proceso" => 3.42}},
      {name: "Barrido & Subida de barandas",  data: {"Proceso" => 7.42}}
    ],
    stacked: true,
    height: "260px",
    library: {
      chart: { type: "bar" },
      xAxis: { title: { text: "MIN" } },
      plotOptions: {
        series: {
          dataLabels: {
            enabled: true,
            inside: true,              # 👈 DENTRO DE LA BARRA
            align: "left",             # 👈 Ubicación horizontal
            y: 18,                     # 👈 BAJO (vertical offset)
            x: 5,                      # 👈 Separado del borde
            formatter: "function(){ return this.y; }".html_safe,
            style: { color: "#ffffff", fontSize: "13px", fontWeight: "bold" }
          }
        }
      }
    }
%>    
  </div>
</div>


<br><br>






<div class="row">
  <div class="col-sm-12">
    <h4>Espera promedio mensual Planos</h4>
    <% if @planos_avg_wait_by_month.blank? %>
      <p>No hay datos de PLANOS.</p>
    <% else %>
      <%= line_chart @planos_avg_wait_by_month,
                     xtitle: "Fecha",
                     ytitle: "Espera promedio (min)" %>
    <% end %>
  </div>
</div>

<br>


<div class="row">
  <div class="col-sm-12">
    <h4>Espera media y cantidad de camiones por MMPP y mes</h4>

    <% if @mmpp_month_pivot.blank? %>
      <p>No hay datos para mostrar.</p>
    <% else %>
      <table class="table table-bordered table-sm">
        <thead class="thead-dark">
          <tr>
            <th>MMPP</th>
            <% @months_for_year.each do |month| %>
              <th class="text-center">
                <%= l(month, format: "%b") %> <!-- Ene, Feb, Mar... -->
              </th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% @mmpp_names.each do |mmpp_name| %>
            <tr>
              <td><%= mmpp_name %></td>
              <% @months_for_year.each do |month| %>
                <% stats = @mmpp_month_pivot.dig(mmpp_name, month) %>
                <% if stats.present? && stats[:count].to_i > 0 %>
                  <td class="text-center">
                    <strong><%= stats[:count] %></strong>
                    <br>
                    <small><%= stats[:avg_wait].round(1) %> min</small>
                  </td>
                <% else %>
                  <td class="text-center text-muted">-</td>
                <% end %>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
</div>


<br>
<br>

<div class="row">
  <div class="col-sm-12">
    <h4>Conchuela: cantidad de camiones y espera media por tipo y mes</h4>

    <% if @conchuela_tipo_month_pivot.blank? %>
      <p>No hay datos de Conchuela para mostrar.</p>
    <% else %>
      <table class="table table-bordered table-sm">
        <thead class="thead-dark">
          <tr>
            <th>Tipo</th>
            <% @months_for_year.each do |month| %>
              <th class="text-center">
                <%= l(month, format: "%b") %> <!-- Ene, Feb, Mar... -->
              </th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% @conchuela_tipos.each do |tipo| %>
            <tr>
              <td><%= tipo %></td>
              <% @months_for_year.each do |month| %>
                <% stats = @conchuela_tipo_month_pivot.dig(tipo, month) %>
                <% if stats.present? && stats[:count].to_i > 0 %>
                  <td class="text-center">
                    <strong><%= stats[:count] %></strong>
                    <br>
                    <small><%= stats[:avg_wait].round(1) %> min</small>
                  </td>
                <% else %>
                  <td class="text-center text-muted">-</td>
                <% end %>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
</div>


<a class="btn btn-primary" href="#" onclick="window.print();return false;">Imprimir reporte</a>
