<div class="row">

  <div class="col-sm-4">
    <h4>Camiones hoy</h4>
<!--Table-->
<% if @trucks_by_material_day.nil? || @trucks_by_material_day.empty? %>
  <p>No hay datos registrados hoy.</p>
<% else %>
  <table class="table">
  <thead class="thead-dark">
    <tr>
      <th>Material</th>
      <th>Camiones recibidos</th>
      <th>Tiempo promedio</th>
    </tr>
  </thead>
  <tbody>
    <% @trucks_by_material_day.each do |nombre, total_trucks, average_trucks| %>
      <tr>
        <td><%= nombre %></td>
        <td><%= total_trucks %></td>
        <td><%= average_trucks.round(2) %></td>
      </tr>
    <% end %>
    <% if @trucks_by_material_day.present? %>
      <tr class="bg-secondary">
        <td><strong>Total</strong></td>
        <td><strong><%= @total_trucks_day %></strong></td>
        <td><strong><%= @average_trucks_day.round(2) %></strong></td>
      </tr>
    <% end %>
  </tbody>
</table>


<% end %>

<!--Table-->



  </div>

  <div class="col-sm-4">
    <h4>Camiones ayer</h4>

<!--Table-->
<% if @yesterday_trucks_by_material_day.nil? || @yesterday_trucks_by_material_day.empty? %>
  <p>No hay camiones registrados el dia de ayer.</p>
<% else %>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th>Material</th>
        <th>Camiones recibidos</th>
        <th>Tiempo promedio</th>
      </tr>
    </thead>
    <tbody>
      <% @yesterday_trucks_by_material_day.each do |nombre, total_trucks, average_trucks| %>
        <tr>
          <td><%= nombre %></td>
          <td><%= total_trucks %></td>
          <td><%= average_trucks&.round(2) || '-' %></td>
        </tr>
      <% end %>
      <% if @yesterday_trucks_by_material_day.present? %>
        <tr class="bg-secondary">
          <td><strong>Total</strong></td>
          <td><strong><%= @yesterday_total_trucks_day %></strong></td>
          <td><strong><%= @yesterday_average_trucks_day&.round(2) || '-' %></strong></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<!--Table-->

<!--Table-->



  </div>

  <div class="col-sm-4">
    <h4>Camiones mes actual</h4>

<!--Table-->
<% if @trucks_by_material.nil? || @trucks_by_material.empty? %>
  <p>No truck data available.</p>
<% else %>
  <table class="table">
  <thead class="thead-dark">
    <tr>
      <th>Material</th>
      <th>Camiones recibidos</th>
      <th>Tiempo promedio</th>
    </tr>
  </thead>
  <tbody>
    <% @trucks_by_material.each do |nombre, total_trucks, average_trucks| %>
      <tr>
        <td><%= nombre %></td>
        <td><%= total_trucks %></td>
        <td><%= average_trucks.round(2) %></td>
      </tr>
    <% end %>
    <% if @trucks_by_material.present? %>
      <tr class="bg-secondary">
        <td><strong>Total</strong></td>
        <td><strong><%= @total_trucks %></strong></td>
        <td><strong><%= @average_trucks.round(2) %></strong></td>
      </tr>
    <% end %>
  </tbody>
</table>


<% end %>

<!--Table-->
  </div>
</div>
<br>
<br>



<div class="row">



  <div class="col-sm-12">
    <h4>Tiempo diario promedio</h4>

<% current_year = Time.current.year %>
<% trucks = Truck.joins(:mmpp).where('extract(year from trucks.created_at) = ?', current_year).where('trucks.wait >= 0').select('mmpps.nombre AS material_name, trucks.created_at, trucks.wait') %>
<% trucks_by_material_and_date = trucks.group_by { |t| [t.material_name, t.created_at.to_date] } %>

<% chart_data = trucks_by_material_and_date.each_with_object([]) do |((material_name, date), trucks), result| %>
  <% existing_material = result.find { |m| m[:name] == material_name } %>

  <% if existing_material %>
    <% existing_material[:data][date] = (trucks.sum(&:wait).to_f / trucks.size).round(2) %>
  <% else %>
    <% result << {name: material_name, data: {date => (trucks.sum(&:wait).to_f / trucks.size).round(2)}} %>
  <% end %>
<% end %>

<%= line_chart chart_data %>





  </div>
</div>
<br>
<br>


<div class="row">

  <div class="col-sm-6">
    <h4>Camiones diarios:</h4>
    <%= column_chart @trucks_data_day_number, stacked: true %>
  </div>

  <div class="col-sm-6">
    <h4>Porcentaje diario:</h4>

    <%= column_chart @trucks_data_day, stacked: true %>
  </div>
</div>
<br>
<br>


<div class="row">

  <div class="col-sm-4">
    Porcentaje mensual:
    <%= column_chart @trucks_data_month, stacked: true %>
  </div>
  <div class="col-sm-4">
    Unitario mensual:
    <%= column_chart @trucks_data_month_number, stacked: true %>
  </div>
  <div class="col-sm-4">
    Distribución de camiones segun tipo
    <%= pie_chart Truck.group(:tipo).count %>
  </div>

</div>

<br>
<br>

<div class="row">
  <div class="col-sm-4">
    Camiones BRU diarios
    <%= line_chart Bru.group_by_day(:fecha).count %>
  </div>
  <div class="col-sm-4">
    Camiones BRU segun dia
    <%= column_chart Bru.group_by_day_of_week(:created_at, format: "%a").count %>
  </div>
  <div class="col-sm-4">
    Camiones BRU segun MMPP
    <%= pie_chart Bru.group(:mmpp).count %>
  </div>
</div>

<br>


<a class="btn btn-primary" href="#" onclick="window.print();return false;" >Imprimir reporte</a>
