<%= form_with(model: estado_edificio, local: true) do |form| %>
  <% if estado_edificio.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(estado_edificio.errors.count, "error") %> prohibited this estado_edificio from being saved:</h2>

      <ul>
      <% estado_edificio.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :Em22 %>
    <%= form.number_field :Em22, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :Em21 %>
    <%= form.number_field :Em21, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :Kki %>
    <%= form.number_field :Kki, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :Kkm %>
    <%= form.number_field :Kkm, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :Puzolana %>
    <%= form.number_field :Puzolana, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :Yeso %>
    <%= form.number_field :Yeso, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :Trans_cemento %>
    <%= form.number_field :Trans_cemento, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :Enfriadera %>
    <%= form.number_field :Enfriadera, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :Techo_ccm_h9 %>
    <%= form.number_field :Techo_ccm_h9, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :Patio_M22 %>
    <%= form.number_field :Patio_M22, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :Niagara %>
    <%= form.number_field :Niagara, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :EM17 %>
    <%= form.number_field :EM17, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :Bba_flux %>
    <%= form.number_field :Bba_flux, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :Area_202 %>
    <%= form.number_field :Area_202, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :Basculas %>
    <%= form.number_field :Basculas, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :Em_18_19 %>
    <%= form.number_field :Em_18_19, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :Taller_electrico %>
    <%= form.number_field :Taller_electrico, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :CI01CK01 %>
    <%= form.number_field :CI01CK01, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :Silos_superiores %>
    <%= form.number_field :Silos_superiores, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :Secador %>
    <%= form.number_field :Secador, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :comentarios %>
    <%= form.text_area :comentarios, class: 'form-control' %>
  </div>

  <div class="form-group">
    <% if estado_edificio.persisted? %>
      <div class="float-right">
        <%= link_to 'Destroy', estado_edificio, method: :delete, class: "text-danger", data: { confirm: 'Esta seguro?' } %>
      </div>
    <% end %>

    <%= form.submit class: 'btn btn-primary' %>

    <% if estado_edificio.persisted? %>
      <%= link_to "Cancel", estado_edificio, class: "btn btn-link" %>
    <% else %>
      <%= link_to "Cancel", estado_edificios_path, class: "btn btn-link" %>
    <% end %>
  </div>
<% end %>
