<div class="page-header">
  <%= link_to estado_edificios_path, class: 'btn btn-default' do %>
    All Estado_edificios
  <% end %>
  <%= link_to edit_estado_edificio_path(@estado_edificio), class: 'btn btn-primary' do %>
    Edit
  <% end %>
  <h1>Show estado_edificio</h1>
</div>

<dl class="dl-horizontal">
  <dt>Em22:</dt>
  <dd><%= @estado_edificio.Em22 %></dd>

  <dt>Em21:</dt>
  <dd><%= @estado_edificio.Em21 %></dd>

  <dt>Kki:</dt>
  <dd><%= @estado_edificio.Kki %></dd>

  <dt>Kkm:</dt>
  <dd><%= @estado_edificio.Kkm %></dd>

  <dt>Puzolana:</dt>
  <dd><%= @estado_edificio.Puzolana %></dd>

  <dt>Yeso:</dt>
  <dd><%= @estado_edificio.Yeso %></dd>

  <dt>Trans cemento:</dt>
  <dd><%= @estado_edificio.Trans_cemento %></dd>

  <dt>Enfriadera:</dt>
  <dd><%= @estado_edificio.Enfriadera %></dd>

  <dt>Techo ccm h9:</dt>
  <dd><%= @estado_edificio.Techo_ccm_h9 %></dd>

  <dt>Patio m22:</dt>
  <dd><%= @estado_edificio.Patio_M22 %></dd>

  <dt>Niagara:</dt>
  <dd><%= @estado_edificio.Niagara %></dd>

  <dt>Em17:</dt>
  <dd><%= @estado_edificio.EM17 %></dd>

  <dt>Bba flux:</dt>
  <dd><%= @estado_edificio.Bba_flux %></dd>

  <dt>Area 202:</dt>
  <dd><%= @estado_edificio.Area_202 %></dd>

  <dt>Basculas:</dt>
  <dd><%= @estado_edificio.Basculas %></dd>

  <dt>Em 18 19:</dt>
  <dd><%= @estado_edificio.Em_18_19 %></dd>

  <dt>Taller electrico:</dt>
  <dd><%= @estado_edificio.Taller_electrico %></dd>

  <dt>Ci01ck01:</dt>
  <dd><%= @estado_edificio.CI01CK01 %></dd>

  <dt>Silos superiores:</dt>
  <dd><%= @estado_edificio.Silos_superiores %></dd>

  <dt>Secador:</dt>
  <dd><%= @estado_edificio.Secador %></dd>

  <dt>Comentarios:</dt>
  <dd><%= @estado_edificio.comentarios %></dd>

</dl>
