<div class="page-header">
  <h2>Informe  <%= @informe.fecha.strftime('%d-%m-%y') %></h2>


<%= link_to new_informe_path, class: 'btn btn-primary' do %>
    Nuevo Informe
  <% end %>
 <%= link_to informes_path, class: 'btn btn-primary' do %>
    Indice informes
  <% end %>
  <%= link_to edit_informe_path(@informe), class: 'btn btn-primary' do %>
    Editar
  <% end %>

</div>



<div class="container-fluid mt-4">
  <div class="row">
    <div class="col-md-6">
      <table class="table table-bordered">
        <thead class="thead-light">
          <tr>
            <th colspan="2"><b>Stock Sacos de producto terminado 25kgs</b></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Sacos Especial sin funda</td>
            <td><%= @informe.especial_sin_funda %></td>
          </tr>
          <tr>
            <td>Sacos Especial soluble</td>
            <td><%= @informe.especial_soluble %></td>
          </tr>
          <tr>
            <td>Sacos Especial enfundado</td>
            <td><%= @informe.especial_enfundado %></td>
          </tr>
           <tr class="table-primary">
            <td>Total Stock especial</td>
            <td><%= @informe.especial_sin_funda + @informe.especial_soluble + @informe.especial_enfundado %></td>
          </tr>
          <tr>
            <td>Sacos Extra sin funda</td>
            <td><%= @informe.extra_sin_funda %></td>
          </tr>
          <tr>
            <td>Sacos Extra soluble</td>
            <td><%= @informe.extra_soluble %></td>
          </tr>
          <tr>
            <td>Sacos Extra enfundado</td>
            <td><%= @informe.extra_enfundado %></td>
          </tr>
          <!-- Add the rest of your rows for this table -->
          <tr class="table-primary">
            <td>Total Stock extra</td>
            <td><%= @informe.extra_sin_funda + @informe.extra_soluble + @informe.extra_enfundado %></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-6">
      <table class="table table-bordered">
        <thead class="thead-light">
          <tr>
            <th colspan="2"><b>Stock bigbag de producto terminado</b></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Big Bag extra sin peba</td>
            <td><%= @informe.big_bag_extra_sin_peba %></td>
          </tr>
          <tr>
            <td>Big Bag extra con peba</td>
            <td><%= @informe.big_bag_extra_con_peba %></td>
          </tr>
          <!-- Add the rest of your rows for this table -->
          <tr class="table-primary">
            <td>Total Stock bigbag extra</td>
            <td><%= @informe.big_bag_extra_sin_peba + @informe.big_bag_extra_con_peba %></td>
          </tr>
          <tr>
            <td>Big Bag especial sin peba</td>
            <td><%= @informe.big_bag_especial_sin_peba %></td>
          </tr>
          <tr>
            <td>Big Bag especial con peba</td>
            <td><%= @informe.big_bag_especial_con_peba %></td>
          </tr>
          <!-- Add the rest of your rows for this table -->
          <tr class="table-primary">
            <td>Total Stock bigbag especial</td>
            <td><%= @informe.big_bag_especial_sin_peba + @informe.big_bag_especial_con_peba %></td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>

  <!-- Add another row for the next set of tables -->

  <div class="row">
    <div class="col-md-6">
      <table class="table table-bordered">
        <thead class="thead-light">
          <tr>
            <th colspan="3">Stock insumos</th>
          </tr>
        </thead>
        <tbody>
          <!-- Your production times and stocks rows here -->
            <tr>
              <td>Envases propa especial</td>
            <td><%= @informe.envases_especial %></td>
          </tr>
          <tr>
              <td>Envases propa especial soluble</td>
            <td><%= @informe.envase_especial_soluble %></td>
          </tr>
           <tr>
              <td>Envases propa extra</td>
            <td><%= @informe.envases_extra %></td>
          </tr>
           <tr>
              <td>Envases propa extra soluble</td>
            <td><%= @informe.envase_extra_soluble %></td>
          </tr>
           <tr>
              <td>Envases BigBag sin peba</td>
            <td><%= @informe.envases_big_bag %></td>
          </tr>
          <tr>
              <td>Envases BigBag con peba</td>
            <td><%= @informe.envase_bigbag_con_peba %></td>
          </tr>
           <tr>
              <td>Pallets buenos</td>
            <td><%= @informe.pallets_buenos %></td>
          </tr>
           <tr>
              <td>Bobinas de plastificado</td>
            <td><%= @informe.bobinas_plastificado %></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-6">
      <table class="table table-bordered">
        <thead class="thead-light">
           <tr>
            <th colspan="3">Stock insumos</th>
          </tr>
        </thead>
        <tbody>
          <!-- Your production times and stocks rows here -->
            <tr>
              <td>Fifo 1 Especial</td>
            <td><%= @informe.fifo_1_especial %></td>
          </tr>
          <tr>
              <td>Fifo 2 Especial</td>
            <td><%= @informe.fifo_2_especial %></td>
          </tr>
           <tr>
              <td>Fifo 3 Especial</td>
            <td><%= @informe.fifo_3_especial %></td>
          </tr>
           <tr>
              <td>Fifo 4 Especial</td>
            <td><%= @informe.fifo_4_especial %></td>
          </tr>
           <tr>
              <td>Fifo 5 Especial</td>
            <td><%= @informe.fifo_5_especial %></td>
          </tr>
          <tr>
              <td>Fifo 6 Especial</td>
            <td><%= @informe.fifo_6_especial %></td>
          </tr>
           <tr>
              <td>Fifo 7 Especial</td>
            <td><%= @informe.fifo_7_especial %></td>
          </tr>
           <tr>
              <td>Fifo 8 Extra</td>
            <td><%= @informe.fifo_8_extra %></td>
          </tr>
           <tr>
              <td>Fifo 9 Extra</td>
            <td><%= @informe.fifo_9_extra %></td>
          </tr>

        </thead>
        <tbody>

        </tbody>
      </table>
    </div>
  </div>
</div>


 <div class="col-md-12">
      <table class="table table-bordered">
        <thead class="thead-light">
          <tr>
            <th>Stock Diarios</th>
             <th>Especial</th>
              <th>Extra</th>
               <th>Novedades</th>
          </tr>

        </thead>
        <tbody>
           <tr>
    <td>
      <%= @informe.inicio_produccion.strftime('%H:%M') %> -
      <%= @informe.termino_produccion.strftime('%H:%M') %>
      <%= @informe.fecha.strftime('%d/%m') %>
    </td>
    <td><%= @informe.produccion_especial %></td>
    <td><%= @informe.produccion_extra %></td>
      <td> <%= @informe.observaciones %> </td>
  </tr>
  <tr>
    <td>
      <%= @informe.inicio_produccion.strftime('%H:%M') %> -
      <%= @informe.termino_produccion.strftime('%H:%M') %>
      <%= @informe.fecha.strftime('%d/%m') %>
    </td>
    <td><%= @informe.produccion_especial %></td>
    <td><%= @informe.produccion_extra %></td>
      <td> <%= @informe.observaciones %> </td>
  </tr>
  <tr>
    <td>
      <%= @informe.inicio_produccion.strftime('%H:%M') %> -
      <%= @informe.termino_produccion.strftime('%H:%M') %>
      <%= @informe.fecha.strftime('%d/%m') %>
    </td>
    <td><%= @informe.produccion_especial %></td>
    <td><%= @informe.produccion_extra %></td>
      <td> <%= @informe.observaciones %> </td>
  </tr>
          <!-- Your production times and stocks rows here -->

        </tbody>
      </table>
    </div>
  </div>
