<div class="page-header">
  <%= link_to barredoras_path, class: 'btn btn-default' do %>
    Todos
  <% end %>
  <%= link_to edit_barredora_path(@barredora), class: 'btn btn-primary' do %>
    Editar
  <% end %>
  <h1>Ver</h1>
</div>

<dl class="dl-horizontal">
  <dt>H9:</dt>
  <dd><%= @barredora.patio_h9 %></dd>

  <dt>M21 m22:</dt>
  <dd><%= @barredora.m21_m22 %></dd>

  <dt>Circunvalacion:</dt>
  <dd><%= @barredora.circunvalacion %></dd>

  <dt>Mmpp:</dt>
  <dd><%= @barredora.mmpp %></dd>

  <dt>Envasadora:</dt>
  <dd><%= @barredora.a202 %></dd>

  <dt>Logistica:</dt>
  <dd><%= @barredora.coke %></dd>

  <dt>Comentarios:</dt>
  <dd><%= @barredora.comentarios %></dd>

</dl>
