




    <div class="container text-center">
      <ul class="list-inline mb-0 float-left">
        <%= link_to "Terminos", terms_path %>
        <%= link_to "Privacidad", privacy_path %>
      </ul>

      <ul class="list-inline mb-0 float-right">
        <%= image_tag ("icono-instagram.svg"), style: "height: 30px;"%>
        <%= image_tag ("icono-linkedin.svg"), style: "height: 30px;"%>
        <%= image_tag ("icono-facebook.svg"), style: "height: 30px;"%>
        <%= image_tag ("icono-twitter.svg"), style: "height: 30px;"%>
        <%= image_tag ("icono-youtube.svg"), style: "height: 30px;"%>
      </ul>
    </div>
