

    <div class="container text-center">
      <ul class="list-inline mb-0 float-left">
        
      </ul>

      <ul class="list-inline mb-0 float-right">
        <a href="https://www.instagram.com/empresasmelon/"><%= image_tag ("icono-instagram.svg"), style: "height: 30px;"%></a>
        <a href="https://www.linkedin.com/company/melon-s-a-/"><%= image_tag ("icono-linkedin.svg"), style: "height: 30px;"%></a>
        <a href="https://www.facebook.com/melon.cl/"><%= image_tag ("icono-facebook.svg"), style: "height: 30px;"%></a>
        <a href="https://twitter.com/EmpresasMelon"><%= image_tag ("icono-twitter.svg"), style: "height: 30px;"%></a>
        <a href="https://www.youtube.com/channel/UCWyCc_h10rTwVUinpts2SjA"><%= image_tag ("icono-youtube.svg"), style: "height: 30px;"%></a>
      </ul>
    </div>
