
<div class="container">
  <div class="card-group">


<div class="card border m-1 shadow mb-5 bg-white rounded">
       <a href="<%="https://drive.google.com/drive/folders/1kWvGZk_45IAC_g0_ue5yeubsosJX203N?usp=share_link"%>">
        <%= image_tag ("reporte.jpg") , :class => "card-img-top img-fluid" %>
      <div class="card-img-overlay"><h4 class="card-title text-white font-weight-bold">Documentos</h4></div>
      </a>
    </div>

    <div class="card border m-1 shadow mb-5 bg-white rounded">
      <a href="<%= estado_canchas_path %>">
        <%= image_tag ("raw.jpg") , :class => "card-img-top img-fluid" %>
      <div class="card-img-overlay"><h4 class="card-title text-white font-weight-bold">Materia Prima</h4></div>
      </a>
    </div>



    <div class="card border m-1 shadow mb-5 bg-white rounded">
      <a href="<%= blank_path %>">
        <%= image_tag ("truck.jpg") , :class => "card-img-top img-fluid" %>
        <div class="card-img-overlay"><h4 class="card-title text-white font-weight-bold">Camiones<br>LCA</h4></div>
      </a>
    </div>



<div class="card border m-1 shadow mb-5 bg-white rounded">
      <a href="<%= others_path %>">
        <%= image_tag ("bru.jpg") , :class => "card-img-top img-fluid" %>
      <div class="card-img-overlay"><h4 class="card-title text-white font-weight-bold">Inspeción</h4></div>
      </a>
    </div>

 <div class="card border m-1 shadow mb-5 bg-white rounded">
      <a href="https://forms.gle/UUPuraCG9NspTmoA7">
        <%= image_tag ("lvs.jpg") , :class => "card-img-top img-fluid" %>
      <div class="card-img-overlay"><h4 class="card-title text-white font-weight-bold">LVS</h4></div>
      </a>
    </div>







<div class="w-100"></div>

 <div class="card border m-1 shadow mb-5 bg-white rounded">
      <a href="<%= inspections_path %>">
        <%= image_tag ("apr.jpg") , :class => "card-img-top img-fluid" %>
      <div class="card-img-overlay"><h4 class="card-title text-white font-weight-bold">APR</h4></div>
      </a>
    </div>

<div class="card border m-1 shadow mb-5 bg-white rounded">
      <a href="<%="https://forms.gle/VRbBkuBFWZLkgh6s7"%>">
        <%= image_tag ("prima.jpg") , :class => "card-img-top img-fluid" %>
      <div class="card-img-overlay"><h4 class="card-title text-white font-weight-bold">Envasado</h4></div>
      </a>
    </div>



      <div class="card border m-1 shadow mb-5 bg-white rounded">
      <a href="<%="https://forms.gle/Q9YLYJmThy84y15u9"%>">
        <%= image_tag ("camion.jpg") , :class => "card-img-top img-fluid" %>
      <div class="card-img-overlay"><h4 class="card-title text-white font-weight-bold">Barredora</h4></div>
      </a>
    </div>

    <div class="card border m-1 shadow mb-5 bg-white rounded">
      <a href="<%= last_informe_path %>">
        <%= image_tag ("canchas.jpg") , :class => "card-img-top img-fluid" %>
        <div class="card-img-overlay"><h4 class="card-title text-white font-weight-bold">Informe<br>PTM</h4></div>
      </a>
    </div>

    <div class="card border m-1 shadow mb-5 bg-white rounded">
         <a href="<%= terms_path %>">
          <%= image_tag ("ptm.jpg") , :class => "card-img-top img-fluid" %>
        <div class="card-img-overlay"><h4 class="card-title text-white font-weight-bold">P.Montt</h4></div>
        </a>
      </div>

    </div>


</div>
