<div class="container">
  <div class="card-deck">


      <div class="card mb-4">
        <a href="<%= canchas_path %>">
        <img class="card-img-top img-fluid" src="https://images.unsplash.com/photo-1496247749665-49cf5b1022e9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" alt="Card image cap">
        <div class="card-img-overlay"><h2 class="card-title text-white font-weight-bold">Canchas</h2></div>
        </a>
      </div>

      <div class="card mb-4">
        <a href="<%= mmpps_path %>">
        <img class="card-img-top img-fluid" src="https://images.unsplash.com/photo-1504917595217-d4dc5ebe6122?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" alt="Card image cap">
        <div class="card-img-overlay"><h2 class="card-title text-white font-weight-bold">MMPP</h2></div>
        </a>
      </div>

      <div class="card mb-4">
        <a href="<%= registros_path %>">
        <img class="card-img-top img-fluid" src="https://images.unsplash.com/photo-1560574188-6a6774965120?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" alt="Card image cap">
        <div class="card-img-overlay"><h2 class="card-title text-white font-weight-bold">Registrar Stock</h2></div>
        </a>
      </div>
      <div class="w-100"></div>

      <div class="card mb-4">
        <a href="<%= privacy_path %>">
        <img class="card-img-top img-fluid" src="https://images.unsplash.com/photo-1518704618243-b719e5d5f2b8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" alt="Card image cap">
        <div class="card-img-overlay"><h2 class="card-title text-white font-weight-bold">Reporte</h2></div>
        </a>
      </div>

      <div class="card mb-4">
        <a href="<%= cuasis_path %>">
        <img class="card-img-top img-fluid" src="https://images.unsplash.com/photo-1496745109441-36ea45fed379?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" alt="Card image cap">
        <div class="card-img-overlay"><h2 class="card-title text-white font-weight-bold">Cuasi</h2></div>
        </a>
      </div>

      <div class="card mb-4">
        <a href="<%= lvs_path %>">
        <img class="card-img-top img-fluid" src="https://images.unsplash.com/photo-1516216628859-9bccecab13ca?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" alt="Card image cap">
        <div class="card-img-overlay"><h2 class="card-title text-white font-weight-bold">LVS</h2></div>
        </a>
      </div>

    </div>
</div>
