
<div class="container">
  <div class="card-group">


    <div class="card border m-1 shadow mb-5 bg-white rounded">
      <a href="https://forms.gle/XCZK9458gBuH6eFs5">
        <%= image_tag ("cuasi.jpg") , :class => "card-img-top img-fluid" %>
      <div class="card-img-overlay"><h2 class="card-title text-white font-weight-bold">Cuasi</h2></div>
      </a>
    </div>

    <div class="card border m-1 shadow mb-5 bg-white rounded">
      <a href="https://forms.gle/UUPuraCG9NspTmoA7">
        <%= image_tag ("lvs.jpg") , :class => "card-img-top img-fluid" %>
      <div class="card-img-overlay"><h2 class="card-title text-white font-weight-bold">LVS</h2></div>
      </a>
    </div>

    <div class="card border m-1 shadow mb-5 bg-white rounded">
      <a href="<%= blank_path %>">
        <%= image_tag ("canchas.jpg") , :class => "card-img-top img-fluid" %>
        <div class="card-img-overlay"><h2 class="card-title text-white font-weight-bold">Camiones</h2></div>
      </a>
    </div>


    <div class="card border m-1 shadow mb-5 bg-white rounded">
      <a href="<%= others_path %>">
        <%= image_tag ("bru.jpg") , :class => "card-img-top img-fluid" %>
      <div class="card-img-overlay"><h2 class="card-title text-white font-weight-bold">Checklist</h2></div>
      </a>
    </div>

    <div class="card border m-1 shadow mb-5 bg-white rounded">
      <a href="<%= inspections_path %>">
        <%= image_tag ("apr.jpg") , :class => "card-img-top img-fluid" %>
      <div class="card-img-overlay"><h2 class="card-title text-white font-weight-bold">APR</h2></div>
      </a>
    </div>








<div class="w-100"></div>

<div class="card border m-1 shadow mb-5 bg-white rounded">
      <a href="<%= envasadoras_path %>">
        <%= image_tag ("truck.jpg") , :class => "card-img-top img-fluid" %>
      <div class="card-img-overlay"><h2 class="card-title text-white font-weight-bold">Envasado</h2></div>
      </a>
    </div>

<div class="card border m-1 shadow mb-5 bg-white rounded">
      <a href="<%= evaluacions_path %>">
        <%= image_tag ("prima.jpg") , :class => "card-img-top img-fluid" %>
      <div class="card-img-overlay"><h2 class="card-title text-white font-weight-bold">Aseo</h2></div>
      </a>
    </div>

<div class="card border m-1 shadow mb-5 bg-white rounded">
  <a href="<%= sectors_path %>">
    <%= image_tag ("mmpp.jpg") , :class => "card-img-top img-fluid" %>
  <div class="card-img-overlay"><h2 class="card-title text-white font-weight-bold">Sectores</h2></div>
  </a>
</div>




      <div class="card border m-1 shadow mb-5 bg-white rounded">
      <a href="<%= barredoras_path %>">
        <%= image_tag ("raw.jpg") , :class => "card-img-top img-fluid" %>
      <div class="card-img-overlay"><h2 class="card-title text-white font-weight-bold">Barredora</h2></div>
      </a>
    </div>

    <div class="card border m-1 shadow mb-5 bg-white rounded">
        <a href="<%= report_path %>">
          <%= image_tag ("reporte.jpg") , :class => "card-img-top img-fluid" %>
        <div class="card-img-overlay"><h2 class="card-title text-white font-weight-bold">Reporte</h2></div>
        </a>
      </div>




    </div>
</div>
