
<div class="container">
  <div class="card-deck">

    <div class="card">
      <a href="<%= blank_path %>">
        <%= image_tag ("canchas.jpg") , :class => "card-img-top img-fluid" %>
        <div class="card-img-overlay"><h2 class="card-title text-white font-weight-bold">Camiones</h2></div>
      </a>
    </div>


    <div class="card">
      <a href="<%= resume_path %>">
        <%= image_tag ("bru.jpg") , :class => "card-img-top img-fluid" %>
      <div class="card-img-overlay"><h2 class="card-title text-white font-weight-bold">BRU</h2></div>
      </a>
    </div>

    <div class="card">
      <a href="<%= estado_edificios_path %>">
        <%= image_tag ("lvs.jpg") , :class => "card-img-top img-fluid" %>
      <div class="card-img-overlay"><h2 class="card-title text-white font-weight-bold">Edificios</h2></div>
      </a>
    </div>

  
    

<div class="w-100 p-2"></div>

<div class="card">
      <a href="<%= derrames_path %>">
        <%= image_tag ("prima.jpg") , :class => "card-img-top img-fluid" %>
      <div class="card-img-overlay"><h2 class="card-title text-white font-weight-bold">Derrames</h2></div>
      </a>
    </div>

<div class="card">
  <a href="<%= others_path %>">
    <%= image_tag ("mmpp.jpg") , :class => "card-img-top img-fluid" %>
  <div class="card-img-overlay"><h2 class="card-title text-white font-weight-bold">Otros</h2></div>
  </a>
</div>


      <div class="card">
        <a href="<%= report_path %>">
          <%= image_tag ("reporte.jpg") , :class => "card-img-top img-fluid" %>
        <div class="card-img-overlay"><h2 class="card-title text-white font-weight-bold">Reporte</h2></div>
        </a>
      </div>





    </div>
</div>
