
<div class="container">
  <div class="card-deck">
    <div class="card">
      <a href="<%= brus_path %>">
        <%= image_tag ("bru.jpg") , :class => "card-img-top img-fluid" %>
      <div class="card-img-overlay"><h2 class="card-title text-white font-weight-bold">BRU</h2></div>
      </a>
    </div>

      <div class="card">
        <a href="<%= canchas_path %>">
          <%= image_tag ("canchas.jpg") , :class => "card-img-top img-fluid" %>
        <div class="card-img-overlay"><h2 class="card-title text-white font-weight-bold">Canchas</h2></div>
        </a>
      </div>

      <div class="card">
        <a href="<%= mmpps_path %>">
          <%= image_tag ("mmpp.jpg") , :class => "card-img-top img-fluid" %>
        <div class="card-img-overlay"><h2 class="card-title text-white font-weight-bold">MMPP</h2></div>
        </a>
      </div>

<div class="w-100 p-2"></div>

      <div class="card">
        <a href="<%= registros_path %>">
          <%= image_tag ("registros.jpg") , :class => "card-img-top img-fluid" %>
        <div class="card-img-overlay"><h2 class="card-title text-white font-weight-bold">Registrar Stock</h2></div>
        </a>
      </div>


      <div class="card">
        <a href="<%= privacy_path %>">
          <%= image_tag ("reporte.jpg") , :class => "card-img-top img-fluid" %>
        <div class="card-img-overlay"><h2 class="card-title text-white font-weight-bold">Reporte</h2></div>
        </a>
      </div>

      <div class="card">
        <a href="<%= cuasis_path %>">
          <%= image_tag ("cuasi.jpg") , :class => "card-img-top img-fluid" %>
        <div class="card-img-overlay"><h2 class="card-title text-white font-weight-bold">Cuasi</h2></div>
        </a>
      </div>



    </div>
</div>
