
<div class="container">
  <div class="card-group">


    <div class="card border m-1 shadow mb-5 bg-white rounded">
      <a href="https://forms.gle/jDRfNbYkoRKMvS9S6">
        <%= image_tag ("place.jpg") , :class => "card-img-top img-fluid" %>
      <div class="card-img-overlay"><h2 class="card-title text-white font-weight-bold">Granel</h2></div>
      </a>
    </div>

    <div class="card border m-1 shadow mb-5 bg-white rounded">
      <a href="https://forms.gle/XcqD2KsHAfknBy7Q9">
        <%= image_tag ("basculas.jpg") , :class => "card-img-top img-fluid" %>
      <div class="card-img-overlay"><h2 class="card-title text-white font-weight-bold">Basculas</h2></div>
      </a>
    </div>

    <div class="card border m-1 shadow mb-5 bg-white rounded">
      <a href="#">
        <%= image_tag ("enfriadera.jpg") , :class => "card-img-top img-fluid" %>
        <div class="card-img-overlay"><h2 class="card-title text-white font-weight-bold">Modulos</h2></div>
      </a>
    </div>


    <div class="card border m-1 shadow mb-5 bg-white rounded">
      <a href="#">
        <%= image_tag ("aeroslide.jpg") , :class => "card-img-top img-fluid" %>
      <div class="card-img-overlay"><h2 class="card-title text-white font-weight-bold">Reguera</h2></div>
      </a>
    </div>

    <div class="card border m-1 shadow mb-5 bg-white rounded">
      <a href="#">
        <%= image_tag ("sello.jpg") , :class => "card-img-top img-fluid" %>
      <div class="card-img-overlay"><h2 class="card-title text-white font-weight-bold">Sello</h2></div>
      </a>
    </div>

</div>
