<h1>Reportes</h1>

<br>
<p class="lead">Distribución de camiones segun tipo</p>
<%= pie_chart Truck.group(:tipo).count %>

<br>

<br>
<p class="lead">Cantidad de camiones segun dia de la semana</p>
<%= scatter_chart Truck.pluck(:llegada, :wait), xtitle: "Llegada", ytitle: "Espera" %>


<br>
<br>

<div class="row">
  <div class="col-sm-4">
    Camiones BRU diarios
    <%= line_chart Bru.group_by_day(:fecha).count %>
  </div>
  <div class="col-sm-4">
    Camiones BRU segun dia
    <%= column_chart Bru.group_by_day_of_week(:created_at, format: "%a").count %>
  </div>
  <div class="col-sm-4">
    Camiones BRU segun MMPP
    <%= pie_chart Bru.group(:mmpp).count %>
</div>
</div>

<a class="btn btn-primary" href="#" onclick="window.print();return false;" >Imprimir reporte</a>
