
<div class="container">
  <div class="card-group">

    <div class="card border m-1 shadow mb-3 bg-white rounded">
      <a href="<%= traslados_path %>">
        <%= image_tag ("reporte.jpg") , :class => "card-img-top img-fluid" %>
      <div class="card-img-overlay"><h5 class="card-title text-white font-weight-bold">Traslados</h5></div>
      </a>
    </div>

    <div class="card border m-1 shadow mb-3 bg-white rounded">
      <a href="https://forms.gle/C4cXC5LPZeAPmeNA8">
        <%= image_tag ("truck.jpg") , :class => "card-img-top img-fluid" %>
      <div class="card-img-overlay"><h5 class="card-title text-white font-weight-bold">Combustible</h5></div>
      </a>
    </div>



<div class="card border m-1 shadow mb-3 bg-white rounded">
      <a href="<%="https://docs.google.com/spreadsheets/d/1YyD4XLUQfShHWn7uhyIr1UZkJq9YRdMUeiPdEdqNFwU/edit?usp=sharing"%>">
        <%= image_tag ("apr.jpg") , :class => "card-img-top img-fluid" %>
      <div class="card-img-overlay"><h5 class="card-title text-white font-weight-bold">Seguridad</h5></div>
      </a>
    </div>


     <div class="card border m-1 shadow mb-3 bg-white rounded">
      <a href="https://docs.google.com/spreadsheets/d/156F_UUUlrMvmO5JprhqvQGR0ZBYDUluHT8vq_mifmhA/edit?usp=sharing">
        <%= image_tag ("basculas.jpg") , :class => "card-img-top img-fluid" %>
      <div class="card-img-overlay"><h5 class="card-title text-white font-weight-bold">Calibración</h5></div>
      </a>
    </div>

<div class="card border m-1 shadow mb-3 bg-white rounded">
      <a href="https://docs.google.com/spreadsheets/d/199n6dbyVEq9PKPEa0cdR4zPz69F_BJ2sHLend8D_nVU/edit?usp=sharing">
        <%= image_tag ("ptm.jpg") , :class => "card-img-top img-fluid" %>
      <div class="card-img-overlay"><h5 class="card-title text-white font-weight-bold">RRHH</h5></div>
      </a>
    </div>

     <div class="card border m-1 shadow mb-3 bg-white rounded">
      <a href="https://docs.google.com/spreadsheets/d/1bDuWFHj_FT7SqPv6J3ICbBv2str9QD7mBYsmNYGSmxU/edit?usp=sharing">
        <%= image_tag ("registros.jpg") , :class => "card-img-top img-fluid" %>
      <div class="card-img-overlay"><h5 class="card-title text-white font-weight-bold">Estructuras</h5></div>
      </a>
    </div>




    <div class="w-100"></div>




    <div class="card border m-1 shadow mb-3 bg-white rounded">
      <a href="<%="https://docs.google.com/spreadsheets/d/1meWEdKpR2AsxQBsmr77c3rbAkRkSDREJhAyByZ7XE-o/edit?usp=sharing"%>">
        <%= image_tag ("aeroslide.jpg") , :class => "card-img-top img-fluid" %>
      <div class="card-img-overlay"><h5 class="card-title text-white font-weight-bold">Solicitudes Big Bag</h5></div>
      </a>
    </div>


 <div class="card border m-1 shadow mb-3 bg-white rounded">
      <a href="https://docs.google.com/spreadsheets/d/1ZK4oqXPbBV0bVrKncvaxrt0IRHKwQgSTB2UwhWykiN4/edit?usp=sharing">
        <%= image_tag ("mmpp.jpg") , :class => "card-img-top img-fluid" %>
        <div class="card-img-overlay"><h5 class="card-title text-white font-weight-bold">Informes mecánicos</h5></div>
      </a>
    </div>

 <div class="card border m-1 shadow mb-3 bg-white rounded">
      <a href="<%="https://docs.google.com/spreadsheets/d/1q3i6qWcjU1BhsjEuifgFVpbABKxv9XTasItMNKdRvrs/edit?usp=sharing"%>">
        <%= image_tag ("elec.jpg") , :class => "card-img-top img-fluid" %>
      <div class="card-img-overlay"><h5 class="card-title text-white font-weight-bold">Informes eléctricos</h5></div>
      </a>
    </div>


      <div class="card border m-1 shadow mb-3 bg-white rounded">
      <a href="<%= inf_path %>">
        <%= image_tag ("lvs.jpg") , :class => "card-img-top img-fluid" %>
      <div class="card-img-overlay"><h5 class="card-title text-white font-weight-bold">Inspecciones</h5></div>
      </a>
    </div>

 <div class="card border m-1 shadow mb-3 bg-white rounded">
      <a href="https://docs.google.com/spreadsheets/d/1PHETYKtiPJ9myfIqok8bLLxnouvldyMqmFEijG6vTNc/edit?usp=sharing">
        <%= image_tag ("prima.jpg") , :class => "card-img-top img-fluid" %>
      <div class="card-img-overlay"><h5 class="card-title text-white font-weight-bold">Operaciones</h5></div>
      </a>
    </div>

<div class="card border m-1 shadow mb-3 bg-white rounded">
      <a href="<%= last_informe_path %>">
        <%= image_tag ("canchas.jpg") , :class => "card-img-top img-fluid" %>
        <div class="card-img-overlay"><h4 class="card-title text-white font-weight-bold">Informe<br>PTM</h4></div>
      </a>
    </div>

    </div>


</div>
