
<div class="container">
  <div class="card-group">


    <div class="card border m-1 shadow mb-5 bg-white rounded">
      <a href="https://forms.gle/C4cXC5LPZeAPmeNA8">
        <%= image_tag ("truck.jpg") , :class => "card-img-top img-fluid" %>
      <div class="card-img-overlay"><h4 class="card-title text-white font-weight-bold">Combustible</h4></div>
      </a>
    </div>

    <div class="card border m-1 shadow mb-5 bg-white rounded">
      <a href="https://forms.gle/EQeezWxeQbDki6Bi8">
        <%= image_tag ("reporte.jpg") , :class => "card-img-top img-fluid" %>
      <div class="card-img-overlay"><h4 class="card-title text-white font-weight-bold">Calibración</h4></div>
      </a>
    </div>

    <div class="card border m-1 shadow mb-5 bg-white rounded">
      <a href="https://forms.gle/XcqD2KsHAfknBy7Q9">
        <%= image_tag ("prima.jpg") , :class => "card-img-top img-fluid" %>
      <div class="card-img-overlay"><h4 class="card-title text-white font-weight-bold">Operaciones</h4></div>
      </a>
    </div>

    <div class="card border m-1 shadow mb-5 bg-white rounded">
      <a href="#">
        <%= image_tag ("raw.jpg") , :class => "card-img-top img-fluid" %>
        <div class="card-img-overlay"><h4 class="card-title text-white font-weight-bold">Mantención</h4></div>
      </a>
    </div>


    <div class="card border m-1 shadow mb-5 bg-white rounded">
      <a href="#">
        <%= image_tag ("truck.jpg") , :class => "card-img-top img-fluid" %>
      <div class="card-img-overlay"><h4 class="card-title text-white font-weight-bold">Otros</h4></div>
      </a>
    </div>


</div>
