


<div class="row">
  <div class="col-sm-6">
    <h1>Derrames</h1>
  </div>

  <div class="col-sm-6 text-right">
  <%= link_to new_derrame_path, class: 'btn btn-primary' do %>
    Agregar registro derrame
  <% end %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
    

            <th>Em22</th>
            <th>Sepax</th>
            <th>Filtax</th>
            <th>Puzolana</th>
            <th>Yeso</th>
            <th>Silo kki</th>
            <th>Cola h9</th>
            <th>Aire terciario</th>
            <th>Filtro enfriadera</th>
            <th>Em21</th>
            <th>Aux h9</th>
            <th>Skako</th>
            <th>Niagara</th>
            <th>Ci08f01</th>
            <th>Coke</th>
            <th>Exterior molinos mp</th>
            <th>Cintas mp</th>
            <th>Comentarios</th>
            
          <th></th>
        
      </tr>
    </thead>

    <tbody>
      <% @derrames.each do |derrame| %>
        <%= content_tag :tr, id: dom_id(derrame), class: dom_class(derrame) do %>
          

                      <td><%= derrame.EM22 %></td>
                      <td><%= derrame.Sepax %></td>
                      <td><%= derrame.Filtax %></td>
                      <td><%= derrame.Puzolana %></td>
                      <td><%= derrame.Yeso %></td>
                      <td><%= derrame.Silo_KKI %></td>
                      <td><%= derrame.cola_H9 %></td>
                      <td><%= derrame.Aire_terciario %></td>
                      <td><%= derrame.Filtro_enfriadera %></td>
                      <td><%= derrame.EM21 %></td>
                      <td><%= derrame.Aux_H9 %></td>
                      <td><%= derrame.Skako %></td>
                      <td><%= derrame.Niagara %></td>
                      <td><%= derrame.CI08F01 %></td>
                      <td><%= derrame.Coke %></td>
                      <td><%= derrame.Exterior_molinos_MP %></td>
                      <td><%= derrame.Cintas_MP %></td>
                      <td><%= derrame.comentarios %></td>
          
          
            <td><%= link_to 'Show', derrame %></td>
          
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
