


<div class="row">
  <div class="col-sm-6">
    <h1>Mmpps</h1>
  </div>

  <div class="col-sm-6 text-right">
  <%= link_to new_mmpp_path, class: 'btn btn-primary' do %>
    Add New Mmpp
  <% end %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
    

            <th>Nombre</th>
            <th>Descripcion</th>
            <th>Densidad</th>
            
          <th></th>
        
      </tr>
    </thead>

    <tbody>
      <% @mmpps.each do |mmpp| %>
        <%= content_tag :tr, id: dom_id(mmpp), class: dom_class(mmpp) do %>
          

                      <td><%= mmpp.nombre %></td>
                      <td><%= mmpp.descripcion %></td>
                      <td><%= mmpp.densidad %></td>
          
          
            <td><%= link_to 'Show', mmpp %></td>
          
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
