<%= form_with(model: area, local: true) do |form| %>
  <% if area.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(area.errors.count, "error") %> prohibited this area from being saved:</h2>

      <ul>
      <% area.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :descripcion %>
    <%= form.text_field :descripcion, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :criticidad %>
    <%= form.number_field :criticidad, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :otros %>
    <%= form.text_field :otros, class: 'form-control' %>
  </div>

  <div class="form-group">
    <% if area.persisted? %>
      <div class="float-right">
        <%= link_to 'Destroy', area, method: :delete, class: "text-danger", data: { confirm: 'Esta seguro?' } %>
      </div>
    <% end %>

    <%= form.submit class: 'btn btn-primary' %>

    <% if area.persisted? %>
      <%= link_to "Cancel", area, class: "btn btn-link" %>
    <% else %>
      <%= link_to "Cancel", areas_path, class: "btn btn-link" %>
    <% end %>
  </div>
<% end %>
