


<div class="row">
  <div class="col-sm-6">
    <h1>Areas</h1>
  </div>

  <div class="col-sm-6 text-right">
  <%= link_to new_area_path, class: 'btn btn-primary' do %>
    Add New Area
  <% end %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
    

            <th>Descripcion</th>
            <th>Criticidad</th>
            <th>Otros</th>
            
          <th></th>
        
      </tr>
    </thead>

    <tbody>
      <% @areas.each do |area| %>
        <%= content_tag :tr, id: dom_id(area), class: dom_class(area) do %>
          

                      <td><%= area.descripcion %></td>
                      <td><%= area.criticidad %></td>
                      <td><%= area.otros %></td>
          
          
            <td><%= link_to 'Show', area %></td>
          
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
