


<div class="row">
  <div class="col-sm-6">
    <h1>Trabajos</h1>
  </div>

  <div class="col-sm-6 text-right">
  <%= link_to new_trabajo_path, class: 'btn btn-primary' do %>
    Agregar Trabajo
  <% end %>
  <button type="button" class="btn btn-secondary" onclick="location.reload();">Gantt</button>

  </div>
</div>

<div class="table-responsive">
  <table id="myTable" class="table table-striped table-bordered table-hover">

    <thead>
      <tr>


            <th>Inicio</th>
            <th>Termino</th>
            <th>Area</th>
            <th>Supervisor</th>
            <th>Descripcion</th>
            <th>Real</th>
            <th>Esperado</th>

          <th></th>

      </tr>
    </thead>

    <tbody>
      <% @trabajos.each do |trabajo| %>
        <%= content_tag :tr, id: dom_id(trabajo), class: dom_class(trabajo) do %>


                      <td><%= trabajo.inicio.strftime("%d-%m") if trabajo.inicio %></td>
                      <td><%= trabajo.termino.strftime("%d-%m") if trabajo.termino %></td>
                      <td><%= trabajo.area %></td>
                      <td><%= trabajo.supervisor %></td>
                      <td><%= trabajo.descripcion %></td>
                       <td></td>
                   <td><%= calculate_progress_percentage(trabajo.inicio, trabajo.termino) %>%</td>




<td class="text-center">
  <%= link_to trabajo, class: 'btn btn-secondary btn-sm shadow p-1 rounded' do %>
    <i class="fa fa-eye fa-fw text-light"></i>
  <% end %>

  <%= link_to edit_trabajo_path(trabajo), class: 'btn btn-success btn-sm shadow p-1 rounded' do %>
    <i class="fa fa-edit fa-fw text-light"></i>
  <% end %>



  <%= link_to new_trabajo_reporte_path(trabajo), class: 'btn btn-primary btn-sm shadow p-1 rounded' do %>
    <i class="fa fa-plus fa-fw text-light"></i>
  <% end %>

  <%= link_to trabajo_reportes_path(trabajo), class: 'btn btn-info btn-sm shadow p-1 rounded' do %>
    <i class="fa fa-list-ul fa-fw text-light"></i>
  <% end %>
</td>



      </td>

        <% end %>
      <% end %>
    </tbody>
  </table>

</div>

<%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
<div id="timeline" style="height: 1000px;"></div>


<script>
  document.addEventListener('DOMContentLoaded', function() {
    google.charts.load('current', {'packages':['timeline']});
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
      var container = document.getElementById('timeline');
      var chart = new google.visualization.Timeline(container);
      var dataTable = new google.visualization.DataTable();

      dataTable.addColumn({ type: 'string', id: 'Trabajo' });
      dataTable.addColumn({ type: 'date', id: 'Start' });
      dataTable.addColumn({ type: 'date', id: 'End' });
      dataTable.addRows([
        <% @trabajos.each do |trabajo| %>
          [
            '<%= trabajo.descripcion %>',
            new Date('<%= trabajo.inicio.strftime('%Y-%m-%d') %>'),
            new Date('<%= trabajo.termino.strftime('%Y-%m-%d') %>')
          ],
        <% end %>
      ]);

      chart.draw(dataTable);
    }
  });
</script>
