<div class="page-header">
  <%= link_to canchas_path, class: 'btn btn-secondary' do %>
    Todas las canchas
  <% end %>
  <%= link_to edit_cancha_path(@cancha), class: 'btn btn-primary' do %>
    Editar
  <% end %>
  <button type="button" class="btn btn-danger">Bloquear cancha</button>
  <br><br>
  <h1>Detalle</h1>
</div>

<dl class="dl-horizontal">
  <dt>Nombre:</dt>
  <dd><%= @cancha.nombre %></dd>

  <dt>Descripcion:</dt>
  <dd><%= @cancha.descripcion %></dd>

  <dt>Capacidad (t):</dt>
  <dd><%= @cancha.capacidad %></dd>

  <dt>Operativa:</dt>
  <dd><%= @cancha.operativa ? "Si" : "No" %></dd>

  <dt>Mmpp:</dt>
  <dd><%= @cancha.mmpp.nombre %></dd>

</dl>
