<%= form_with(model: recuperado, local: true) do |form| %>
  <% if recuperado.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(recuperado.errors.count, "error") %> prohibited this recuperado from being saved:</h2>

      <ul>
      <% recuperado.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :EM22 %>
    <%= form.text_field :EM22, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :Sepax %>
    <%= form.text_field :Sepax, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :Filtax %>
    <%= form.text_field :Filtax, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :Puzolana %>
    <%= form.text_field :Puzolana, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :Yeso %>
    <%= form.text_field :Yeso, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :Silo_KKI %>
    <%= form.text_field :Silo_KKI, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :cola_H9 %>
    <%= form.text_field :cola_H9, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :Aire_terciario %>
    <%= form.text_field :Aire_terciario, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :Filtro_enfriadera %>
    <%= form.text_field :Filtro_enfriadera, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :EM21 %>
    <%= form.text_field :EM21, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :Aux_H9 %>
    <%= form.text_field :Aux_H9, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :Skako %>
    <%= form.text_field :Skako, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :Niagara %>
    <%= form.text_field :Niagara, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :CI08F01 %>
    <%= form.text_field :CI08F01, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :Coke %>
    <%= form.text_field :Coke, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :Exterior_molinos_MP %>
    <%= form.text_field :Exterior_molinos_MP, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :Cintas_MP %>
    <%= form.text_field :Cintas_MP, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :comentarios %>
    <%= form.text_area :comentarios, class: 'form-control' %>
  </div>

  <div class="form-group">
    <% if recuperado.persisted? %>
      <div class="float-right">
        <%= link_to 'Destroy', recuperado, method: :delete, class: "text-danger", data: { confirm: 'Esta seguro?' } %>
      </div>
    <% end %>

    <%= form.submit class: 'btn btn-primary' %>

    <% if recuperado.persisted? %>
      <%= link_to "Cancel", recuperado, class: "btn btn-link" %>
    <% else %>
      <%= link_to "Cancel", recuperados_path, class: "btn btn-link" %>
    <% end %>
  </div>
<% end %>
