


<div class="row">
  <div class="col-sm-6">
    <h1>Derrames</h1>
  </div>



<div class="table-responsive">
  <table id="myTable" class="table table-striped table-bordered table-hover">
    <thead>
      <tr>

            <th>Fecha</th>
            <th>Total</th>
            <th>Em22</th>
            <th>Sepax</th>
            <th>Filtax</th>
            <th>Puzolana</th>
            <th>Yeso</th>
            <th>Silo kki</th>
            <th>Cola h9</th>
            <th>Aire terciario</th>
            <th>Filtro enfriadera</th>
            <th>Em21</th>
            <th>Aux h9</th>
            <th>Skako</th>
            <th>Niagara</th>
            <th>Ci08f01</th>
            <th>Coke</th>
            <th>Exterior molinos mp</th>
            <th>Cintas mp</th>
            <th>Comentarios</th>

          <th></th>

      </tr>
    </thead>

    <tbody>
      <% @recuperados.each do |recuperado| %>
        <%= content_tag :tr, id: dom_id(recuperado), class: dom_class(recuperado) do %>

                      <td><%= recuperado.created_at.strftime("%Y-%m-%d") %></td>
                      <td><%= recuperado.total %></td>
                      <td><%= recuperado.EM22 %></td>
                      <td><%= recuperado.Sepax %></td>
                      <td><%= recuperado.Filtax %></td>
                      <td><%= recuperado.Puzolana %></td>
                      <td><%= recuperado.Yeso %></td>
                      <td><%= recuperado.Silo_KKI %></td>
                      <td><%= recuperado.cola_H9 %></td>
                      <td><%= recuperado.Aire_terciario %></td>
                      <td><%= recuperado.Filtro_enfriadera %></td>
                      <td><%= recuperado.EM21 %></td>
                      <td><%= recuperado.Aux_H9 %></td>
                      <td><%= recuperado.Skako %></td>
                      <td><%= recuperado.Niagara %></td>
                      <td><%= recuperado.CI08F01 %></td>
                      <td><%= recuperado.Coke %></td>
                      <td><%= recuperado.Exterior_molinos_MP %></td>
                      <td><%= recuperado.Cintas_MP %></td>
                      <td><%= recuperado.comentarios %></td>


            <td><%= link_to 'Show', recuperado %></td>

        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
