


<div class="row">
  <div class="col-sm-6">
    <h1>Inspecciones registradas</h1>
  </div>

  <div class="col-sm-6 text-right">
  <%= link_to new_inspection_path, class: 'btn btn-primary' do %>
    Agregar inspección
  <% end %>
  </div>
</div>

<div class="table-responsive">
  <table id="myTable" class="table table-striped table-bordered table-hover">
    <thead>
      <tr>

            <th>Fecha</th>
            <th>APR</th>
            <th>Planta</th>
            <th>Area</th>
            <th>Tarea</th>
            <th>Supervisor</th>
            <th>Trab.</th>
            <th>Ast</th>
            <th>Pts</th>
            <th>Epp</th>
            <th>SubS</th>
            <th>%</th>


          <th></th>

      </tr>
    </thead>

    <tbody>
      <% @inspections.each do |inspection| %>
        <%= content_tag :tr, id: dom_id(inspection), class: dom_class(inspection) do %>

                      <td><%= inspection.created_at.in_time_zone('Santiago').strftime("%d-%m %H:%M") %></td>
                      <td><%= inspection.apr.nombre %></td>
                      <td><%= inspection.plant.descripcion %></td>
                      <td><%= inspection.area.descripcion %></td>
                      <td><%= inspection.tarea.descripcion %></td>
                      <td><%= inspection.supervisor.nombre %></td>
                      <td><%= inspection.trabajadores %></td>
                      <td><%= inspection.ast ? 'Si' : 'No'%></td>
                      <td><%= inspection.pts ? 'Si' : 'No'%></td>
                      <td><%= inspection.epp ? 'Si' : 'No'%></td>
                      <td><%= inspection.subsitio ? 'Si' : 'No'%></td>
                      <td><%= inspection.cumplimiento %></td>



            <td><%= link_to 'Ver', inspection %></td>

        <% end %>
      <% end %>
    </tbody>
  </table>

<div class="row">
  <div class="col-sm-6">

  </div>

  <div class="col-sm-6 text-right">
  <%= link_to plants_path, class: 'btn btn-primary' do %>
    Planta
  <% end %>
  <%= link_to areas_path, class: 'btn btn-primary' do %>
    Area
  <% end %>
  <%= link_to tareas_path, class: 'btn btn-primary' do %>
    Tarea
  <% end %>
  <%= link_to supervisors_path, class: 'btn btn-primary' do %>
    Supervisor
  <% end %>
  <%= link_to aprs_path, class: 'btn btn-primary' do %>
    APR
  <% end %>
  </div>
</div>
<br>




</div>
