


<div class="row">
  <div class="col-sm-6">
    <h1>Registros</h1>
  </div>

  <div class="col-sm-6 text-right">
  <%= link_to new_registro_path, class: 'btn btn-primary' do %>
    Nuevo Registro
  <% end %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>

            <th>Hora</th>
            <th>Cancha</th>
            <th>Uso</th>
            <th>Fotografia</th>

          <th></th>

      </tr>
    </thead>

    <tbody>
      <% @registros.each do |registro| %>
        <%= content_tag :tr, id: dom_id(registro), class: dom_class(registro) do %>

                      <td><%= registro.created_at %></td>
                      <td><%= registro.cancha.nombre %></td>
                      <td><%= registro.uso %></td>
                      <td><%= registro.fotografia %></td>


            <td><%= link_to 'Show', registro %></td>

        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
