


<div class="row">
  <div class="col-sm-6">
    <h1>BRU</h1>
  </div>

  <div class="col-sm-6 text-right">
  <%= link_to new_bru_path, class: 'btn btn-primary' do %>
    Agregar registro
  <% end %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>


            <th>Fecha</th>
            <th>Ingreso</th>
            <th>Salida</th>
            <th>Patente</th>
            <th>Mmpp</th>
            <th>Tiempo</th>


          <th></th>

      </tr>
    </thead>

    <tbody>
      <% @brus.each do |bru| %>
        <%= content_tag :tr, id: dom_id(bru), class: dom_class(bru) do %>


                      <td><%= bru.fecha.strftime("%d-%m-%Y") %></td>
                      <td><%= bru.ingreso.strftime("%H:%M") %></td>
                      <td><%= bru.salida.strftime("%H:%M") %></td>
                      <td><%= bru.patente %></td>
                      <td><%= bru.mmpp %></td>
                      <td><%=  bru.salida - bru.ingreso %></td>
            <td><%= link_to 'Show', bru %></td>

        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
