


<div class="row">
<div class="col-sm-6">
  <h1>BRU</h1>
</div>

<div class="col-sm-6 text-right">
<%= link_to new_bru_path, class: 'btn btn-primary' do %>
  Agregar registro
<% end %>

<%= link_to brus_path, class: 'btn btn-primary' do %>
  Historico
<% end %>
</div>
</div>

<div  class="table-responsive">
<table id="" class="table table-striped table-bordered table-hover">
  <thead>
    <tr>


          <th>Fecha</th>
          <th>Ingreso</th>
          <th>Salida</th>
          <th>Patente</th>
          <th>Mmpp</th>
          <th>Tiempo (minutos)</th>



        <th></th>
          <% if user_signed_in? %>
        <th></th>
        <% end %>

    </tr>
  </thead>

  <tbody>
    <% @brus.each do |bru| %>
      <%= content_tag :tr, id: dom_id(bru), class: dom_class(bru) do %>


                    <td><%= bru.fecha %></td>
                    <td><%= bru.ingreso.strftime("%H:%M") %></td>
                    <td><%= bru.salida.strftime("%H:%M") %></td>
                    <td><%= bru.patente %></td>
                    <td><%= bru.mmpp %></td>
                    <td><%=  ((bru.salida - bru.ingreso) / 60).to_i %></td>


          <td><button type="button" class="btn btn-sm btn-secondary mr-2 command-edit shadow p-1 mb-1 rounded">
            <%= link_to "", bru, class: "fa fa-eye fa-fw text-light" %>
          </button></td>
          <% if user_signed_in? %>
          <td><button type="button" class="btn btn-sm btn-danger mr-2 command-delete shadow p-1 mb-1 rounded">
            <%= link_to "", bru, method: :delete, data: { confirm: "Esta seguro?" }, class: "fa fa-trash fa-fw text-light" %>
          </button></td>
          <% end %>

      <% end %>
    <% end %>
  </tbody>
</table>
</div>

<br>


<div class="row">
  <div class="col-sm-6">
    <h1>Checklists</h1>
  </div>

  <div class="col-sm-6 text-right">
  <%= link_to new_checklist_path, class: 'btn btn-primary' do %>
    Nuevo Checklist
  <% end %>

  <%= link_to checklists_path, class: 'btn btn-primary' do %>
    Historico
  <% end %>
  </div>
</div>

<div class="table-responsive">
  <table id="" class="table table-striped table-bordered table-hover">
    <thead>
      <tr>



            <th>Fecha</th>
            <th>Nombre</th>
            <th>Cinta</th>
            <th>Lubricacion</th>
            <th>Aseos</th>
            <th>Nivel</th>
            <th>Fugas</th>
            <th>Presion</th>
            <th>Filtro1</th>
            <th>Filtro2</th>
            <th>Polvo</th>
            <th>Raspador</th>
            <th>Iluminacion</th>
            <th>Comentarios</th>

          <th></th>

      </tr>
    </thead>

    <tbody>
      <% @checklists.each do |checklist| %>
        <%= content_tag :tr, id: dom_id(checklist), class: dom_class(checklist) do %>



                      <td><%= checklist.fecha %></td>
                      <td><%= checklist.nombre %></td>
                      <td><%= checklist.cinta %></td>
                      <td><%= checklist.lubricacion %></td>
                      <td><%= checklist.aseos %></td>
                      <td><%= checklist.nivel %></td>
                      <td><%= checklist.fugas %></td>
                      <td><%= checklist.presion %></td>
                      <td><%= checklist.filtro1 %></td>
                      <td><%= checklist.filtro2 %></td>
                      <td><%= checklist.polvo %></td>
                      <td><%= checklist.raspador %></td>
                      <td><%= checklist.iluminacion %></td>
                      <td><%= checklist.comentarios %></td>


            <td><%= link_to 'Show', checklist %></td>

        <% end %>
      <% end %>
    </tbody>
  </table>
</div>